﻿@using DriverMobileApp.Helper
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}
<div class="clearfix">
</div>
<div class="page-region">
    <div class="page-region-content">
        <div class="form-panel">
            <!--header image starts-->
            <h2>
                <a href="@Url.EncryptAction("Index", "InnerDashBoard", new { QORid = @ViewBag.QORid, StopType = @ViewBag.StopType, TouchType = @ViewBag.TouchType, TouchStopId=@ViewBag.TouchStopId })">
                    <img src="@Url.Content("~/Mcontent/Images/Previous.png")" width="48" height="48" style="float: left; margin-right: 10px;" />
                </a>
                <img src="@Url.Content("~/Mcontent/Images/Signature.png")" width="48" height="48" style="float: left; margin-right: 10px;" />
                <div class="h-title">
                    <span style="float: left; font-size: 9pt; text-transform: uppercase;">
                        Complete &nbsp;
                        Touch &nbsp;( QORID - @Request.Cookies["QORid"].Value )
                    </span>
                </div>
                <div class="clearfix">
                </div>
            </h2>
            <!--<div class="show-map"><button class="image-button bg-color-grayDark fg-color-white">Show route map<img src="Images/map2.png" class="bg-color-blue"></button></div>-->
            <!--header image ends-->
            <div class="button-panel">
                <input type="submit" id="btnPOSchange" name="btnPOSchange" value="Change POS" />
            </div>
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__TouchCompleteForm" }))
            {
                @Html.AntiForgeryToken()
                <ul class="form-list nomargin-top-bottom">
                    <li id="RemarkArea">
                        <span class="label-form">Remark</span>
                        <div class="clearfix">
                        </div>
                        <span class="value">
                            <div class="input-control textarea">
                                <textarea rows="5" id="Remark"></textarea>
                            </div>
                        </span>
                    </li>
                    <div class="clearfix">
                    </div>
                </ul>
                <div id="dvError" class="error">
                    <label id="lblError" style="color:red">Please enter valid remarks without special characters.</label>
                </div>
                <div class="button-panel">
                    <input type="button" id="btnCompleteTch" name="completeTch" value="Complete this touch">
                    <input type="button" id="btnCancel" name="btnCancel" value="Cancel">
                </div>
            }
            <div class="clearfix">
            </div>
        </div>
        <div class="clerfix">
        </div>
    </div>
</div>
<div id="dlgEnterUnitNumber" class="message-dialog bg-color-oliveDark" style="display: none;">
    <div class="popup-hdr">
        <div class="pop-left">
            <h3>
                Enter unit number
            </h3>
        </div>
        <div class="pop-right">
            <img width="32" height="32" src="@Url.Content("~/Mcontent/Images/Cancel.png")" class="bClose">
        </div>
        <div class="clearfix">
        </div>
    </div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__TouchCompleteUnitNumberForm" }))
    {
        @Html.AntiForgeryToken()
        <ul class="poplist-form">
            <li>
                <label class="label">
                    Unit No
                </label>
                <span class="value">
                    <div class="input-control text">
                        @Html.TextBox("UnitNo")
                        <button type="button" tabindex="-1" class="helper" onclick="return false"></button>
                    </div>
                </span>
            </li>
            <li>
                <label class="label">
                    Re Enter Unit No
                </label>
                <span class="value">
                    <div class="input-control text">
                        @Html.TextBox("ReUnitNo")
                        <button type="button" tabindex="-1" class="helper" onclick="return false"></button>
                    </div>
                </span>
            </li>
        </ul>
    }
    <div class="clearfix">
    </div>
    <button class="place-right bClose">
        Cancel
    </button>
    <button class="place-right" id="SubmitEnterUnitNumber">
        Submit
    </button>
</div>
<div id="dlRetDashboard" class="message-dialog  bg-color-green fg-color-white" style="display: none;">
    <div class="popup-hdr">
        <div class="pop-left">
            <h3>
                Touch Complete !
            </h3>
        </div>
        <div class="pop-right">
            <img width="32" height="32" src="@Url.Content("~/Mcontent/Images/Cancel.png")" class="bClose">
        </div>
        <div class="clearfix">
        </div>
    </div>
    <p>
        Thank you! This touch is completed and you will be redirected to the dashboard for
        your next touch.
    </p>
    <button class="place-right btnRetDashboard" id="btnRetDashboard">
        Ok
    </button>
</div>


<div id="dlErrorMsg" class="message-dialog  bg-color-yellow fg-color-white dlErrorMsgCl" style="display: none;">
    <div class="popup-hdr">
        <div class="pop-left">
            <h3>
                Touch Completed with Error !
            </h3>
        </div>
        <div class="pop-right">
            <img width="32" height="32" src="@Url.Content("~/Mcontent/Images/Cancel.png")" class="bClose">
        </div>
        <div class="clearfix">
        </div>
    </div>
    <p>
        This touch is completed with Error however you will be redirected to the dashboard for
        your next touch.
    </p>
    <button class="place-right" id="btnRetDashboard btnRetDashboard">
        Ok
    </button>
</div>

<div id="dlErrorMsgCustMessage" class="message-dialog  bg-color-yellow fg-color-white " style="display: none;">
    <div class="popup-hdr">
        <div class="pop-left">
            <h3>
                Touch Completed with Error !
            </h3>
        </div>
        <div class="pop-right">
            <img width="32" height="32" src="@Url.Content("~/Mcontent/Images/Cancel.png")" class="bClose">
        </div>
        <div class="clearfix">
        </div>
    </div>
    <p>
        Error occurred while completing this touch: <span id="custErrorMsg"></span>
    </p>
    <button class="place-right" id="btnHideErrorMsg">
        Ok
    </button>
    <button class="place-right btnRetDashboard">
        Return To Dashboard
    </button>
    <button class="place-right" id="btnSkipTouch">
        Skip Touch
    </button>
</div>

@Scripts.Render("~/bundles/TouchComplete")
<script type="text/javascript">
    var URLHelperTouchComplete = {
        postTouchComplete: '@Url.Action("CompleteTouch", "TouchComplete")',
        redirectToDashBoard: '@Url.Action("Index", "Dashboard")',
        redirectToSkipTouch: '@Url.EncryptAction("Index", "SkipTouch", new { TouchType = @ViewBag.TouchType, QORid = @ViewBag.QORid, StopType = @ViewBag.StopType, TouchStopId = @ViewBag.TouchStopId, pg = "id" })',
        redirectToInnderDashBoard: '@Url.EncryptAction("Index", "InnerDashBoard", new { QORid = @ViewBag.QORid, StopType = @ViewBag.StopType, TouchType = @ViewBag.TouchType, TouchStopId = @ViewBag.TouchStopId })',
        rediectToChangeCPP: '@Url.EncryptAction("Index", "ChangeCPP", new { QORid = @ViewBag.QORid, StopType = @ViewBag.StopType, TouchType = @ViewBag.TouchType, TouchStopId = @ViewBag.TouchStopId })'
    }

    var touchCompleteJSVariables = {
        TouchType: '@(ViewBag.TouchType)',
        QORID: '@(ViewBag.QORid)',
        StopType: '@(ViewBag.StopType)',
        TouchStopId: '@(ViewBag.TouchStopId)',
    }

    var ValidationExpression = '@Html.Raw(PR.ValidationHandler.LoadJsonConfig.GetValidateToken(PR.ValidationHandler.PropertyType.AlphaNumeric).Pattern)';

   
</script>
