﻿@model DriverMobileApp.Models.DashBoardTouchinfo
@using DriverMobileApp.Helper

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}
<div class="go-back">
    <span style="float: left;">
        <a id="goprev" style="cursor: pointer;">
            <img src="@Url.Content("~/Mcontent/Images/goback-btn.png")" width="32" height="32" />
        </a>
    </span><span style="float: left; margin-left: 10px;">
        <a id="gonext" style="cursor: pointer;">
            <img src="@Url.Content("~/Mcontent/Images/gonext-btn.png")"
                 width="32" height="32" />
        </a>
    </span>
</div>
<div class="clearfix">
</div>
<div class="page-region">
    <div class="page-region-content">
        <div class="metro-pivot">
            <div class="pivot-item">
                <h3>
                    Current
                </h3>
                <div class="tile-group">
                    @*  ----------------------------------------------------------
                        This is Current Touch block
                        ----------------------------------------------------------
                    *@
                    @if (@Model.CurrentTouchData != null)
                    {
                        <a href="@Url.EncryptAction("Index", "TouchInfo", new { TouchType = @Model.CurrentTouchData.TouchType, QORid = @Model.CurrentTouchData.QORID, StopType = @Model.CurrentTouchData.StopType })" onclick="return showLoadng();">
                            <div class="tile double bg-color-blueDark" style="height:180px !important">
                                <div class="tile-content">
                                    @if (@Model.CurrentTouchData.DestinationAddress.AddressType != DriverMobileApp.Models.PR_AddressType.AddressType.Warehouse)
                                    {
                                        <h2>
                                            Current: @Model.CurrentTouchData.TouchType To @DriverMobileApp.Models.PR_AddressType.Customer
                                            @if (@Model.CurrentTouchData.ETASettings.CanDisplayETAStatus == true)
                                            {
                                                <label class="float-right" style="float:right; padding-left:5px; padding-right:5px; background-color:@Model.CurrentTouchData.ETASettings.BackGroundColor; color:@Model.CurrentTouchData.ETASettings.TextColor">ETA</label>
                                            }
                                        </h2>
                                        <h5>
                                            (QORID - @Model.CurrentTouchData.QORID, Cont. No -
                                            @(Model.CurrentTouchData.TouchType == DriverMobileApp.Models.PR_TouchType_Constant.DE ? "N/A" : (String.IsNullOrWhiteSpace(Model.CurrentTouchData.ContainerNumber) ? "N/A" : Model.CurrentTouchData.ContainerNumber))
                                            , Size - @Model.CurrentTouchData.ContainerSize 
                                            @if (Model.CurrentTouchData.IsZippyShellMove)
                                            { <text> ZM</text> }
                                            @if (Model.CurrentTouchData.IsTrailerNeeded)
                                            { <text>, Trailer required</text> })
                                        </h5>

                                        <h5>
                                            Scheduled :
                                            @(Model.CurrentTouchData.ScheduledStartTime)
                                            - @(Model.CurrentTouchData.ScheduledEndTime.ToString())
                                        </h5>
                                        <h5>
                                            Estimated :
                                            @(Model.CurrentTouchData.EstimatedStartTime)
                                            - @(Model.CurrentTouchData.EstimatedEndTime)
                                        </h5>
                                        <h5>
                                            @if (@Model.CurrentTouchData.ETASettings.CanDisplayETAStatus == true)
                                            {
                                                <text>  ETA Provided : @(Model.CurrentTouchData.ETASettings.ProvidedETARange)</text>
                                            }
                                        </h5>
                                        <h5>
                                            @(string.IsNullOrWhiteSpace(Model.CurrentTouchData.CustomerName) ? "" : Model.CurrentTouchData.CustomerName + ", ")
                                            @(string.IsNullOrWhiteSpace(Model.CurrentTouchData.Company) ? "" : Model.CurrentTouchData.Company + ", ")
                                            @(string.IsNullOrWhiteSpace(Model.CurrentTouchData.DestinationAddress.AddressLine1) ? "" : Model.CurrentTouchData.DestinationAddress.AddressLine1 + ", ")
                                            @(string.IsNullOrWhiteSpace(Model.CurrentTouchData.DestinationAddress.AddressLine2) ? "" : Model.CurrentTouchData.DestinationAddress.AddressLine2 + ", ")
                                            @(string.IsNullOrWhiteSpace(Model.CurrentTouchData.DestinationAddress.City) ? "" : Model.CurrentTouchData.DestinationAddress.City + ", ")
                                            @(string.IsNullOrWhiteSpace(Model.CurrentTouchData.DestinationAddress.State) ? "" : Model.CurrentTouchData.DestinationAddress.State)
                                            <text> - </text>
                                            @Model.CurrentTouchData.DestinationAddress.Zip
                                        </h5>
                                    }
                                    else
                                    {
                                        <h2>
                                            Returning from @Model.CurrentTouchData.TouchType to @DriverMobileApp.Models.PR_AddressType.Warehouse
                                        </h2>
                                        <h5>
                                            Sechduled :
                                            @(Model.CurrentTouchData.ScheduledStartTime)
                                            - @(Model.CurrentTouchData.ScheduledEndTime.ToString())
                                        </h5>
                                        <h5>
                                            Estimated :
                                            @(Model.CurrentTouchData.EstimatedStartTime)
                                            - @(Model.CurrentTouchData.EstimatedEndTime)
                                        </h5>
                                        <h4>
                                            @Model.CurrentTouchData.FacilityName
                                        </h4>
                                    }
                                    <div class="icon-bottom-right">
                                        <img src="@Url.Content("~/Mcontent/Images/current-touch-icon.png")" width="36" height="36" />
                                    </div>
                                </div>
                            </div>
                        </a>} @*  ----------------------------------------------------------
                        End Current Touch block
                        ----------------------------------------------------------
                        *@ @*  ----------------------------------------------------------
                                    This is Next Touch block
                                    ----------------------------------------------------------
                        *@
                        @if (@Model.NextTouchData != null)
                        {
                            //if (@Model.CurrentTouchData == null)
                            //{
                            @*                        <a href= "@Url.Action("Index", "TouchInfo", new { TouchType = @Model.NextTouchData.TouchType, QORid = @Model.NextTouchData.QORID, StopType = @Model.NextTouchData.StopType })" onclick="return showLoadng();">
                            *@
                            <div class="tile double bg-color-red2" data-role="tile-slider" data-param-period="5000"
                                 data-param-duration="1000">
                                <div class="tile-content">
                                    @if (@Model.NextTouchData.DestinationAddress.AddressType != DriverMobileApp.Models.PR_AddressType.AddressType.Warehouse)
                                    {

                                        <h2>
                                            Next: @Model.NextTouchData.TouchType To @DriverMobileApp.Models.PR_AddressType.Customer
                                        </h2>
                                        <h5>
                                            (QORID - @Model.NextTouchData.QORID, Cont. No -
                                            @(Model.NextTouchData.TouchType == DriverMobileApp.Models.PR_TouchType_Constant.DE ? "N/A" : (String.IsNullOrWhiteSpace(Model.NextTouchData.ContainerNumber) ? "N/A" : Model.NextTouchData.ContainerNumber))
                                            , Size -@Model.NextTouchData.ContainerSize 
                                            @if (Model.NextTouchData.IsZippyShellMove)
                                            { <text> ZM</text> }
                                            @if (Model.NextTouchData.IsTrailerNeeded)
                                            { <text>, Trailer required</text> }
                                            )
                                        </h5>
                                        <h5>
                                            Scheduled :
                                            @(Model.NextTouchData.ScheduledStartTime)
                                            - @(Model.NextTouchData.ScheduledEndTime.ToString())
                                        </h5>
                                        <h5>
                                            Estimated :
                                            @(Model.NextTouchData.EstimatedStartTime)
                                            - @(Model.NextTouchData.EstimatedEndTime)
                                        </h5>
                                        <h5>
                                            @(string.IsNullOrWhiteSpace(Model.NextTouchData.CustomerName) ? "" : Model.NextTouchData.CustomerName + ", ")
                                            @(string.IsNullOrWhiteSpace(Model.NextTouchData.Company) ? "" : Model.NextTouchData.Company + ", ")
                                            @(string.IsNullOrWhiteSpace(Model.NextTouchData.DestinationAddress.AddressLine1) ? "" : Model.NextTouchData.DestinationAddress.AddressLine1 + ", ")
                                            @(string.IsNullOrWhiteSpace(Model.NextTouchData.DestinationAddress.AddressLine2) ? "" : Model.NextTouchData.DestinationAddress.AddressLine2 + ", ")
                                            @(string.IsNullOrWhiteSpace(Model.NextTouchData.DestinationAddress.City) ? "" : Model.NextTouchData.DestinationAddress.City + ", ")
                                            @(string.IsNullOrWhiteSpace(Model.NextTouchData.DestinationAddress.State) ? "" : Model.NextTouchData.DestinationAddress.State)
                                            <text> - </text>
                                            @Model.NextTouchData.DestinationAddress.Zip
                                        </h5>
                                    }
                                    else
                                    {
                                        <h2>
                                            Return from @Model.NextTouchData.TouchType to @DriverMobileApp.Models.PR_AddressType.Warehouse
                                        </h2>
                                        <h5>
                                            Scheduled :
                                            @(Model.NextTouchData.ScheduledStartTime)
                                            - @(Model.NextTouchData.ScheduledEndTime.ToString())
                                        </h5>
                                        <h5>
                                            Estimated :
                                            @(Model.NextTouchData.EstimatedStartTime)
                                            - @(Model.NextTouchData.EstimatedEndTime)
                                        </h5>
                                        <h4>
                                            @Model.NextTouchData.FacilityName
                                        </h4>
                                    }
                                    <div class="icon-bottom-right">
                                        <img src="@Url.Content("~/Mcontent/Images/next-touch-icon.png")" width="32" height="32" />
                                    </div>
                                </div>
                                <div class="tile-content" style="position: absolute; left: 0px; top: 0px;">
                                    <h3>
                                        Call Customer before proceeding!
                                    </h3>
                                    <h4>
                                        Phone No: &nbsp;
                                        @*  @string.Format("{0:(###) ###-####}", Convert.ToInt64(Model.NextTouchData.DestinationAddress.PhoneNumber))*@
                                        @Model.NextTouchData.DestinationAddress.PhoneNumber
                                    </h4>
                                </div>
                            </div>
                            @*                        </a>*@
                        }
                        @if (@Model.CurrentTouchData == null && @Model.NextTouchData == null)
                        {
                            <div class="tile double bg-color-blueDark">
                                <div class="tile-content">
                                    <h2>
                                        Done! All assigned touches have been completed.
                                    </h2>
                                </div>
                            </div>
                        }
 
                    </div>
                </div>
                @*  ----------------------------------------------------------
                    This is the list of remaining touches
                    ----------------------------------------------------------
                *@
                <div class="pivot-item">
                    <h3 style="float: left;">
                        Remaining<span class="numbers">(@Model.RemainingTouchCount)</span>
                    </h3>
                    <div class="clearfix">
                    </div>
                    <ul class="listview fluid">
                        @if (@Model.RemainingTouchData != null)
                        {
                            foreach (var remainingTouch in @Model.RemainingTouchData)
                            {
                                if (@remainingTouch != null)
                                {
                                    <a href="@Url.EncryptAction("Index", "CustomerInfo", new { TouchType = @remainingTouch.TouchType, QORid = @remainingTouch.QORID, StopType = @remainingTouch.StopType })"
                                       onclick="return showLoadng();">
                                        <li @(remainingTouch.SkipTouch ? "class=bg-color-red fg-color-white small-font" : "class=bg-color-blueDark fg-color-white small-font")>
                                            @if (@remainingTouch.DestinationAddress.AddressType != DriverMobileApp.Models.PR_AddressType.AddressType.Warehouse)
                                            {

                                                <div>
                                                    <span class="touch-list">
                                                        <strong>
                                                            @remainingTouch.TouchType To @DriverMobileApp.Models.PR_AddressType.Customer
                                                            @if (@remainingTouch.ETASettings.CanDisplayETAStatus == true)
                                                            {
                                                                <label class="float-right" style="float:right;  padding-left:5px; padding-right:5px; background-color:@remainingTouch.ETASettings.BackGroundColor; color:@remainingTouch.ETASettings.TextColor">ETA</label>
                                                            }
                                                        </strong>
                                                        <br />
                                                        (QORID - @remainingTouch.QORID, Cont. No -
                                                        @(remainingTouch.TouchType == DriverMobileApp.Models.PR_TouchType_Constant.DE ? "N/A" : (String.IsNullOrWhiteSpace(remainingTouch.ContainerNumber) ? "N/A" : remainingTouch.ContainerNumber))
                                                        , Size -@remainingTouch.ContainerSize 
                                                        @if (remainingTouch.IsZippyShellMove)
                                                        { <text> ZM</text> }
                                                        @if (remainingTouch.IsTrailerNeeded)
                                                        { <text>, Trailer required</text> }
                                                        )
                                                    </span>
                                                    <div class="clearfix">
                                                    </div>
                                                    <h5 class="fg-color-white small-font">
                                                        Scheduled :
                                                        @(remainingTouch.ScheduledStartTime)
                                                        - @(remainingTouch.ScheduledEndTime)
                                                    </h5>
                                                    <h5 class="fg-color-white small-font">
                                                        Estimated :
                                                        @(remainingTouch.EstimatedStartTime)
                                                        - @(remainingTouch.EstimatedEndTime)
                                                    </h5>
                                                    <h5 class="fg-color-white small-font">
                                                        @if (@remainingTouch.ETASettings.CanDisplayETAStatus == true)
                                                        {
                                                            <text> ETA Provided : @(remainingTouch.ETASettings.ProvidedETARange)</text>
                                                        }
                                                    </h5>
                                                    @if (@remainingTouch.BalanceDue != 0)
                                                    {
                                                        <strong>Balance Due: @remainingTouch.BalanceDue </strong>
                                                    }<span class="touch-list"></span>
                                                    <img src="@Url.Content("~/Mcontent/Images/home-icon.png")" width="12" height="12"
                                                         class="img-right" />
                                                    @(string.IsNullOrWhiteSpace(remainingTouch.CustomerName) ? "" : remainingTouch.CustomerName + ", ")
                                                    @(string.IsNullOrWhiteSpace(remainingTouch.Company) ? "" : remainingTouch.Company + ", ")
                                                    @(string.IsNullOrWhiteSpace(remainingTouch.DestinationAddress.AddressLine1) ? "" : remainingTouch.DestinationAddress.AddressLine1 + ", ")
                                                    @(string.IsNullOrWhiteSpace(remainingTouch.DestinationAddress.AddressLine2) ? "" : remainingTouch.DestinationAddress.AddressLine2 + ", ")
                                                    @(string.IsNullOrWhiteSpace(remainingTouch.DestinationAddress.City) ? "" : remainingTouch.DestinationAddress.City + ", ")
                                                    @(string.IsNullOrWhiteSpace(remainingTouch.DestinationAddress.State) ? "" : remainingTouch.DestinationAddress.State + ", ")
                                                    <text>Zip: &nbsp;</text>
                                                    @remainingTouch.DestinationAddress.Zip
                                                    <br />
                                                    <img src="@Url.Content("~/Mcontent/Images/phone-icon.png")" width="12" height="12"
                                                         class="img-right" />
                                                    @* @string.Format("{0:(###) ###-####}", Convert.ToInt64(remainingTouch.DestinationAddress.PhoneNumber))*@
                                                    @remainingTouch.DestinationAddress.PhoneNumber
                                                </div>
                                            }
                                            else
                                            {
                                                <div>
                                                    <span class="touch-list">
                                                        <strong>
                                                            Return from @remainingTouch.TouchType to @DriverMobileApp.Models.PR_AddressType.Warehouse
                                                        </strong>@* <br />
                                                            (QORID - @remainingTouch.QORID, Cont. No -
                                                            @(remainingTouch.TouchType == DriverMobileApp.Models.PR_TouchType_Constant.DE ? "N/A" : (String.IsNullOrWhiteSpace(remainingTouch.ContainerNumber) ? "N/A" : remainingTouch.ContainerNumber))
                                                            , Size - @remainingTouch.ContainerSize
                                                            @if (remainingTouch.IsTrailerNeeded)
                                                            { <text>, Trailer required</text> }
                                                            ) </span>*@
                                                        <div class="clearfix">
                                                        </div>
                                                        <h5 class="fg-color-white small-font">
                                                            Scheduled :
                                                            @(remainingTouch.ScheduledStartTime)
                                                            - @(remainingTouch.ScheduledEndTime)
                                                        </h5>
                                                        <h5 class="fg-color-white small-font">
                                                            Estimated :
                                                            @(remainingTouch.EstimatedStartTime)
                                                            - @(remainingTouch.EstimatedEndTime)
                                                        </h5>
                                                        @if (@remainingTouch.BalanceDue != 0)
                                                        {
                                                            <strong>Balance Due: @remainingTouch.BalanceDue </strong>
                                                        }<span class="touch-list"></span>
                                                        <img src="@Url.Content("~/Mcontent/Images/home-icon.png")" width="12" height="12" class="img-right" />
                                                        @*@(string.IsNullOrWhiteSpace(remainingTouch.DestinationAddress.AddressLine1) ? "" : remainingTouch.DestinationAddress.AddressLine1 + ", ")
                                                            @(string.IsNullOrWhiteSpace(remainingTouch.DestinationAddress.AddressLine2) ? "" : remainingTouch.DestinationAddress.AddressLine2 + ", ")
                                                            @(string.IsNullOrWhiteSpace(remainingTouch.DestinationAddress.City) ? "" : remainingTouch.DestinationAddress.City + ", ")
                                                            @(string.IsNullOrWhiteSpace(remainingTouch.DestinationAddress.State) ? "" : remainingTouch.DestinationAddress.State + ", ")
                                                            <text>Zip: &nbsp;</text>
                                                            @remainingTouch.DestinationAddress.Zip
                                                            <br />
                                                            <img src="@Url.Content("~/Mcontent/Images/phone-icon.png")" width="12" height="12"   class="img-right" />
                                                            @remainingTouch.DestinationAddress.PhoneNumber*@
                                                        @remainingTouch.FacilityName
                                                </div>
                                            }
                                        </li>
                                    </a>
                                }
                            }
                        }
                    </ul>
                </div>
                @*  ----------------------------------------------------------
                    End list of remaining touches
                    ----------------------------------------------------------
                *@ @*  ----------------------------------------------------------
                    This is the list of Skipped touches
                    ----------------------------------------------------------
                *@
                <div class="pivot-item">
                    <h3 style="float: left;">
                        Skipped<span class="numbers">(@Model.SkippedTouchCount)</span>
                    </h3>
                    <div class="clearfix">
                    </div>
                    <ul class="listview fluid">
                        @if (@Model.SkippedTouchData != null)
                        {
                            foreach (var skippedTouch in @Model.SkippedTouchData)
                            {
                                if (@skippedTouch != null)
                                {
                                    <a href="@Url.EncryptAction("Index", "CustomerInfo", new { TouchType = @skippedTouch.TouchType, QORid = @skippedTouch.QORID, StopType = @skippedTouch.StopType })"
                                       onclick="return showLoadng();">
                                        <li @(skippedTouch.SkipTouch ? "class=bg-color-red fg-color-white small-font" : "class=bg-color-blueDark fg-color-white small-font")>
                                            @if (@skippedTouch.DestinationAddress.AddressType != DriverMobileApp.Models.PR_AddressType.AddressType.Warehouse)
                                            {
                                                <div>
                                                    <span class="touch-list">
                                                        <strong>
                                                            @skippedTouch.TouchType To @DriverMobileApp.Models.PR_AddressType.Customer
                                                        </strong>
                                                        <br />
                                                        (QORID - @skippedTouch.QORID, Cont. No -
                                                        @(skippedTouch.TouchType == DriverMobileApp.Models.PR_TouchType_Constant.DE ? "N/A" : (String.IsNullOrWhiteSpace(skippedTouch.ContainerNumber) ? "N/A" : skippedTouch.ContainerNumber))
                                                        , Size -@skippedTouch.ContainerSize
                                                        @if (skippedTouch.IsZippyShellMove)
                                                        { <text> ZM</text> }
                                                        @if (skippedTouch.IsTrailerNeeded)
                                                        { <text>, Trailer required</text> }
                                                        )
                                                    </span>
                                                    <div class="clearfix">
                                                    </div>
                                                    <h5 class="fg-color-white small-font">
                                                        Scheduled :
                                                        @(skippedTouch.ScheduledStartTime)
                                                        - @(skippedTouch.ScheduledEndTime.ToString())
                                                    </h5>
                                                    <h5 class="fg-color-white small-font">
                                                        Estimated :
                                                        @(skippedTouch.EstimatedStartTime)
                                                        - @(skippedTouch.EstimatedEndTime)
                                                    </h5>
                                                    @if (@skippedTouch.BalanceDue != 0)
                                                    {
                                                        <strong>Balance Due: @skippedTouch.BalanceDue </strong>
                                                    }<span class="touch-list"></span>
                                                    <img src="@Url.Content("~/Mcontent/Images/home-icon.png")" width="12" height="12"
                                                         class="img-right" />
                                                    @(string.IsNullOrWhiteSpace(skippedTouch.CustomerName) ? "" : skippedTouch.CustomerName + ", ")
                                                    @(string.IsNullOrWhiteSpace(skippedTouch.Company) ? "" : skippedTouch.Company + ", ")
                                                    @(string.IsNullOrWhiteSpace(skippedTouch.DestinationAddress.AddressLine1) ? "" : skippedTouch.DestinationAddress.AddressLine1 + ", ")
                                                    @(string.IsNullOrWhiteSpace(skippedTouch.DestinationAddress.AddressLine2) ? "" : skippedTouch.DestinationAddress.AddressLine2 + ", ")
                                                    @(string.IsNullOrWhiteSpace(skippedTouch.DestinationAddress.City) ? "" : skippedTouch.DestinationAddress.City + ", ")
                                                    @(string.IsNullOrWhiteSpace(skippedTouch.DestinationAddress.State) ? "" : skippedTouch.DestinationAddress.State + ", ")
                                                    <text>Zip: &nbsp;</text>
                                                    @skippedTouch.DestinationAddress.Zip
                                                    <br />
                                                    <img src="@Url.Content("~/Mcontent/Images/phone-icon.png")" width="12" height="12"
                                                         class="img-right" />
                                                    @* @string.Format("{0:(###) ###-####}", Convert.ToInt64(skippedTouch.DestinationAddress.PhoneNumber))*@
                                                    @skippedTouch.DestinationAddress.PhoneNumber
                                                </div>
                                            }
                                            else
                                            {
                                                <div>
                                                    <span class="touch-list">
                                                        <strong>
                                                            Return from @skippedTouch.TouchType to @DriverMobileApp.Models.PR_AddressType.Warehouse
                                                        </strong>
                                                        <div class="clearfix">
                                                        </div>
                                                        @*<h5 class="fg-color-white small-font">
                                                                Scheduled :
                                                                @(Model.CurrentTouchData.ScheduledStartTime)
                                                                - @(Model.CurrentTouchData.ScheduledEndTime.ToString())
                                                            </h5>
                                                            <h5 class="fg-color-white small-font">
                                                                Estimated :
                                                                @(Model.CurrentTouchData.EstimatedStartTime)
                                                                - @(Model.CurrentTouchData.EstimatedEndTime)
                                                            </h5>*@
                                                        <h5 class="fg-color-white small-font">
                                                            Scheduled :
                                                            @(skippedTouch.ScheduledStartTime)
                                                            - @(skippedTouch.ScheduledEndTime.ToString())
                                                        </h5>
                                                        <h5 class="fg-color-white small-font">
                                                            Estimated :
                                                            @(skippedTouch.EstimatedStartTime)
                                                            - @(skippedTouch.EstimatedEndTime)
                                                        </h5>
                                                        @if (@skippedTouch.BalanceDue != 0)
                                                        {
                                                            <strong>Balance Due: @skippedTouch.BalanceDue </strong>
                                                        }<span class="touch-list"></span>
                                                        <img src="@Url.Content("~/Mcontent/Images/home-icon.png")" width="12" height="12" class="img-right" />
                                                        @skippedTouch.FacilityName
                                                </div>
                                            }
                                        </li>
                                    </a>
                                }
                            }
                        }
                    </ul>
                </div>
                @*  ----------------------------------------------------------
                    End list of Skipped touches
                    ----------------------------------------------------------
                *@ @*  ----------------------------------------------------------
                    This is the list of completed touches
                    ----------------------------------------------------------
                *@
                <div class="pivot-item" id="frame3">
                    <h3>
                        Completed<span class="numbers">(@Model.CompletedTouchCount) </span>
                    </h3>
                    <div class="clearfix">
                    </div>
                    <div class="tile-group">
                        <ul class="listview fluid">
                            @if (@Model.CompletedTouchData != null)
                            {
                                foreach (var completeTouch in @Model.CompletedTouchData)
                                {
                                    if (@completeTouch != null)
                                    {
                                        <li class="bg-color-greenLight fg-color-white small-font">
                                            @if (@completeTouch.DestinationAddress.AddressType != DriverMobileApp.Models.PR_AddressType.AddressType.Warehouse)
                                            {

                                                <div>
                                                    <span class="touch-list">
                                                        <strong>
                                                            @completeTouch.TouchType To @DriverMobileApp.Models.PR_AddressType.Customer
                                                        </strong>(QORID - @completeTouch.QORID , Cont.No - @completeTouch.ContainerNumber , Size - @completeTouch.ContainerSize
                                                        @if (completeTouch.IsZippyShellMove)
                                                        { <text> ZM</text> }
                                                        )
                                                    </span>
                                                    <div class="clearfix">
                                                    </div>
                                                    <strong>Customer : </strong> @completeTouch.CustomerName
                                                    @(string.IsNullOrWhiteSpace(completeTouch.Company) ? "" : ", " + completeTouch.Company)
                                                    <div class="clearfix">
                                                    </div>
                                                    <h5 class="fg-color-white small-font">
                                                        Scheduled time :
                                                        @(completeTouch.EstimatedStartTime)
                                                        - @(completeTouch.EstimatedEndTime)
                                                    </h5>
                                                    <h5 class="fg-color-white small-font">
                                                        Actual time :
                                                        @(completeTouch.ActualStartTime)
                                                        - @(completeTouch.ActualEndTime)
                                                    </h5>
                                                    <img src="@Url.Content("~/Mcontent/Images/home-icon.png")" width="12" height="12"
                                                         class="img-right" />
                                                    @(string.IsNullOrWhiteSpace(completeTouch.DestinationAddress.AddressLine1) ? "" : completeTouch.DestinationAddress.AddressLine1 + ", ")
                                                    @(string.IsNullOrWhiteSpace(completeTouch.DestinationAddress.AddressLine2) ? "" : completeTouch.DestinationAddress.AddressLine2 + ", ")
                                                    @(string.IsNullOrWhiteSpace(completeTouch.DestinationAddress.City) ? "" : completeTouch.DestinationAddress.City + ", ")
                                                    @(string.IsNullOrWhiteSpace(completeTouch.DestinationAddress.State) ? "" : completeTouch.DestinationAddress.State + ", ")
                                                    <text>Zip: &nbsp;</text>
                                                    @completeTouch.DestinationAddress.Zip
                                                </div>
                                            }
                                            else
                                            {
                                                <div>
                                                    <span class="touch-list">
                                                        <strong>
                                                            @completeTouch.TouchType
                                                        </strong>(QORID - @completeTouch.QORID , Size - @completeTouch.ContainerSize
                                                        @if (completeTouch.IsZippyShellMove)
                                                        { <text> ZM</text> }                                                        
                                                        )
                                                    </span><span class="touch-list"></span>
                                                    <div class="clearfix">
                                                    </div>
                                                    <h5 class="fg-color-white small-font">
                                                        Actual start time :
                                                        @(completeTouch.ScheduledStartTime)
                                                        - @(completeTouch.ScheduledEndTime.ToString())
                                                    </h5>
                                                    <h5 class="fg-color-white small-font">
                                                        Actual end time :
                                                        @(completeTouch.ActualStartTime)
                                                        - @(completeTouch.ActualStartTime)
                                                    </h5>
                                                    <img src="@Url.Content("~/Mcontent/Images/home-icon.png")" width="12" height="12"
                                                         class="img-right" />
                                                    @*@(string.IsNullOrWhiteSpace(completeTouch.DestinationAddress.AddressLine1) ? "" : completeTouch.DestinationAddress.AddressLine1 + ", ")
                                                        @(string.IsNullOrWhiteSpace(completeTouch.DestinationAddress.AddressLine2) ? "" : completeTouch.DestinationAddress.AddressLine2 + ", ")
                                                        @(string.IsNullOrWhiteSpace(completeTouch.DestinationAddress.City) ? "" : completeTouch.DestinationAddress.City + ", ")
                                                        @(string.IsNullOrWhiteSpace(completeTouch.DestinationAddress.State) ? "" : completeTouch.DestinationAddress.State + ", ")
                                                        <text>Zip: &nbsp;</text>
                                                        @completeTouch.DestinationAddress.Zip*@
                                                    @completeTouch.FacilityName
                                                </div>
                                            }
                                        </li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
                @*  ----------------------------------------------------------
                    End list of completed touches
                    ----------------------------------------------------------
                *@
            </div>
        </div>
    </div>
    <div id="dlErrorMsg" class="message-dialog  bg-color-yellow fg-color-white" style="display: none;">
        <div class="popup-hdr">
            <div class="pop-left">
                <h3>
                    Error !
                </h3>
            </div>
            <div class="pop-right">
                <img width="32" height="32" src="@Url.Content("~/Mcontent/Images/Cancel.png")" class="bClose">
            </div>
            <div class="clearfix">
            </div>
        </div>
        <p>
            @ViewBag.Error
        </p>
        <button class="place-right" id="btnRetDashboard">
            Ok
        </button>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            if ('@ViewBag.Error' != '') {
                $("#liSearch").css("display", "none");
                $("#dlErrorMsg").bPopup();
                hideLoading();
            }
            else {
                $("#dlErrorMsg").bPopup().close();
            }
        });

        $('#btnRetDashboard').click(function () {
            $("#dlErrorMsg").bPopup().close();
        });
    </script>
