﻿@model DriverMobileApp.Models.DriverTouchInfo
@using DriverMobileApp.Helper
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<div class="page-region">
    <form id="frmTouchInfo" action="#">
        @Html.AntiForgeryToken()
    </form>
    @if (ViewBag.SlError == null)
    {
        if (Model.TouchInfoUpdatedBySL != null)
        {
            @Html.Partial("~/Views/Shared/stopSLUpdatedInfo.cshtml", Model)
        }
        <div class="page-region-content">
            @if (Model.DriverTouch.DestinationAddress.AddressType != DriverMobileApp.Models.PR_AddressType.AddressType.Warehouse)
            {
                <div class="form-panel">
                    <h2>
                        <img src="@Url.Content("~/Mcontent/Images/Touch-type.png")" width="48" height="48" style="float: left; margin-right: 10px;" />
                        <div class="h-title">
                            <span style="float: left; font-size: 9pt; text-transform: uppercase; vertical-align: middle;">
                                @Model.DriverTouch.TouchType to @DriverMobileApp.Models.PR_AddressType.Customer
                                (QORID: @Model.DriverTouch.QORID)
                            </span>
                        </div>
                        <div class="clearfix">
                        </div>
                    </h2>
                    <div class="clearfix">
                    </div>
                    <div class="metro-pivot touch-info-page">
                        <div class="pivot-item">
                            <ul class="form-list" style="margin-top: 0%;">
                                <li>
                                    <span class="label-form">To</span>
                                    <div class="clearfix">
                                    </div>
                                    <span class="user-name">
                                        @if (@Model.DriverTouch.StopType == DriverMobileApp.Models.PR_Action_Constant.WS)
                                        {
                                            <text>Weight Station</text>
                                        }
                                        else
                                        {
                                            @(Model.SiteLinkCustomerInfo.FirstName)<text> </text> @(Model.SiteLinkCustomerInfo.LName)
                                        }
                                        <br />
                                    </span><span style="font-size: 100%;" class="value">
                                        @(!string.IsNullOrEmpty(Model.DriverTouch.DestinationAddress.AddressLine1) ? Model.DriverTouch.DestinationAddress.AddressLine1.Trim() + ", " : "")
                                        @(!string.IsNullOrEmpty(Model.DriverTouch.DestinationAddress.AddressLine2.Trim()) ? Model.DriverTouch.DestinationAddress.AddressLine2.Trim() + "," : "")
                                        @(!string.IsNullOrEmpty(Model.DriverTouch.DestinationAddress.City) ? Model.DriverTouch.DestinationAddress.City.Trim() + ", " : "")
                                        @(!string.IsNullOrEmpty(Model.DriverTouch.DestinationAddress.State) ? Model.DriverTouch.DestinationAddress.State.Trim() + ", " : "")
                                        @(!string.IsNullOrEmpty(Convert.ToString(Model.DriverTouch.DestinationAddress.Zip)) ? Model.DriverTouch.DestinationAddress.Zip.Trim() : "")
                                    </span>
                                    <div class="clearfix">
                                    </div>
                                    <span style="font-size: 100%; padding: 5px;">
                                        <span class="icon-phone" style="float: left;">
                                        </span>
                                        @Model.DriverTouch.DestinationAddress.PhoneNumber
                                    </span>
                                    <div class="clearfix">
                                    </div>
                                </li>
                                <li>
                                    <span class="label-form">QORID</span>
                                    <div class="clearfix">
                                    </div>
                                    <span class="label-value">
                                        <span class="capital">
                                            @Model.DriverTouch.QORID @(Model.DriverTouch != null && Model.DriverTouch.IsCombinedTouch ? "(Combined Touch)" : "")
                                            @(Model.DriverTouch != null && Model.DriverTouch.IsTrailerNeeded ? ", Trailer required" : "")
                                        </span>
                                    </span>
                                </li>
                                @if (@Model.DriverTouch.TouchType != DriverMobileApp.Models.PR_TouchType_Constant.DE)
                                {
                                    <li>
                                        <span class="label-form">Container Number </span><span class="label-value">
                                            <span class="capital">
                                                @(String.IsNullOrWhiteSpace(Model.DriverTouch.ContainerNumber) ? "N/A" : @Model.DriverTouch.ContainerNumber)
                                            </span>
                                        </span>
                                    </li>
                                }
                                <li>
                                    <span class="label-form">Touch Type</span>
                                    <div clas="clearfix">
                                    </div>
                                    <span class="label-value">
                                        <span class="capital">
                                            @(Model.DriverTouch.StopType != @DriverMobileApp.Models.PR_Action_Constant.WS
                                      ? @Model.DriverTouch.TouchType : @Model.DriverTouch.TransiteTouchType)
                                        </span>
                                        <br />
                                    </span>
                                </li>
                                <li>
                                    <span class="label-form">Unit Size</span>
                                    <div clas="clearfix">
                                    </div>
                                    <span class="label-value">
                                        <span class="capital">
                                            @Model.TouchData.UnitLength&nbsp;ft
                                            @if (Model.DriverTouch.IsZippyShellMove)
                                            { <text> (ZM)</text> }
                                        </span>
                                        <br />
                                    </span>
                                </li>
                                <li>
                                    <span class="label-form">Scheduled Touch Time </span><span class="label-value">
                                        <span class="capital">
                                            @(Model.DriverTouch.ScheduledStartTime)
                                            - @(Model.DriverTouch.ScheduledEndTime)
                                        </span>
                                        <br />
                                    </span>
                                </li>
                                <li>
                                    <span class="label-form">Estimated Touch Time </span><span class="label-value">
                                        <span class="capital">
                                            @(Model.DriverTouch.EstimatedStartTime)
                                            - @(Model.DriverTouch.EstimatedEndTime)
                                        </span>
                                        <br />
                                    </span>
                                </li>
                                <li>
                                    <span class="label-form">Door Position</span>
                                    <div clas="clearfix">
                                    </div>
                                    <span class="label-value">
                                        <span class="capital">@(Model.TouchData.DoorFacesRear ? "Door-to-Rear" : "Door-to-Front")</span>,<br />
                                    </span>
                                </li>
                                <li>
                                    <span class="label-form">Driveway Type</span>
                                    <div clas="clearfix">
                                    </div>
                                    <span class="label-value">
                                        <span class="capital">
                                            @((Model.TouchData.Drivewaytype_Bricked) ? "Bricked, " : "")
                                            @((Model.TouchData.Drivewaytype_Curbed) ? "Curbed, " : "")
                                            @((Model.TouchData.Drivewaytype_Dirt) ? "Dirt, " : "")
                                            @((Model.TouchData.Drivewaytype_Sloped) ? "Sloped, " : "")
                                            @((Model.TouchData.Drivewaytype_Soft) ? "Soft, " : "")
                                            @((Model.TouchData.Drivewaytype_Grvel) ? "Grvel, " : "")
                                            @((Model.TouchData.Drivewaytype_Paved) ? "Paved, " : "")
                                            @((Model.TouchData.Drivewaytype_Other) ? "Other" : "")
                                        </span>
                                        <br />
                                    </span>
                                </li>
                                <li>
                                    <span class="label-form">Obstacle</span>
                                    <div class="clearfix">
                                    </div>
                                    <span class="label-value">
                                        <span class="capital">
                                            @((Model.TouchData.Obstacle_Landscaping) ? "Landscaping, " : "")
                                            @((Model.TouchData.Obstacle_PowerLines) ? "PowerLines, " : "")
                                            @((Model.TouchData.Obstacle_Fences) ? "Fences, " : "")
                                            @((Model.TouchData.Obstacle_Trees) ? "Trees, " : "")
                                            @((Model.TouchData.Obstacle_Sprinklers) ? "Sprinklers, " : "")
                                            @((Model.TouchData.Obstacle_Septic) ? "Septic, " : "")
                                            @((Model.TouchData.Obstacle_Other) ? "Other, " : "")
                                        </span>
                                    </span>
                                </li>
                                @if (!String.IsNullOrEmpty(Model.TouchData.Directions))
                                {
                                    <li>
                                        <span class="label-form">Direction</span>
                                        <div class="clearfix">
                                        </div>
                                        <span class="label-value">
                                            <span class="capital">
                                                @Model.TouchData.Directions.ToString().Trim()
                                            </span>
                                        </span>
                                    </li>
                                }
                                @if (!String.IsNullOrEmpty(Model.TouchData.Instructions))
                                {
                                    <li>
                                        <span class="label-form">Instruction</span>
                                        <div class="clearfix">
                                        </div>
                                        <span class="label-value">
                                            <span class="capital">
                                                @Model.TouchData.Instructions.ToString().Trim()
                                            </span>
                                        </span>
                                    </li>
                                }
                                @if (Model.DriverTouch.TouchType == DriverMobileApp.Models.PR_TouchType_Constant.RF || Model.DriverTouch.TouchType == DriverMobileApp.Models.PR_TouchType_Constant.RE)
                                {
                                    <li>
                                        <span class="label-form">Status</span>
                                        <div clas="clearfix">
                                        </div>
                                        <span class="value">
                                            <table class="bordered form-table">
                                                <tr>
                                                    <td>
                                                        Truck is empty
                                                    </td>

                                                </tr>
                                            </table>
                                        </span>
                                    </li>
                                }
                                else if (Model.DriverTouch.TouchType == DriverMobileApp.Models.PR_TouchType_Constant.DF)
                                {
                                    <li>
                                        <span class="label-form">Status</span>
                                        <div clas="clearfix">
                                        </div>
                                        <span class="value">
                                            <table class="bordered form-table">
                                                <tr>
                                                    <td>
                                                        Visually inspected the container
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        Container is locked propertly
                                                    </td>

                                                </tr>
                                            </table>
                                        </span>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <span class="label-form">Checklist Items</span>
                                        <div clas="clearfix">
                                        </div>
                                        <span class="value">
                                            <table class="bordered form-table">
                                                @if (Model.POSData != null)
                                                {
                                                    int _count = 0;
                                                    foreach (var positem in Model.POSData)
                                                    {
                                                        _count = _count + 1;
                                                        <tr>
                                                            <td>
                                                                @positem.ItemDescription
                                                            </td>
                                                            <td>
                                                                @positem.Quantity
                                                            </td>

                                                        </tr>
                                                    }
                                                }
                                                <tr>
                                                    <td colspan="2">
                                                        Visually inspect container
                                                    </td>

                                                </tr>
                                            </table>
                                        </span>
                                    </li>
                                }
                                @if ((ViewBag.WTicket) && ((Model.DriverTouch.TouchType == DriverMobileApp.Models.PR_TouchType_Constant.DE && @Model.DriverTouch.StopType == DriverMobileApp.Models.PR_Action_Constant.Dropoff) ||
(Model.DriverTouch.TouchType == DriverMobileApp.Models.PR_TouchType_Constant.RF && @Model.DriverTouch.StopType == DriverMobileApp.Models.PR_Action_Constant.Pickup)))
                                {
                                    <li id="liWeightTicket" style="visibility: visible">
                                        <span class="label-form">
                                            Weight
                                            Ticket
                                        </span>
                                        <div class="clearfix">
                                        </div>
                                        <span class="value">
                                            <table class="bordered form-table">
                                                <tr>
                                                    <td>
                                                        @if (Model.DriverTouch.TouchType == DriverMobileApp.Models.PR_TouchType_Constant.DE)
                                                        {
                                                            <text>Empty Weight Ticket Required</text>
                                                        }
                                                        else
                                                        {
                                                            <text>Full Weight Ticket Required</text>
                                                        }
                                                    </td>
                                                </tr>
                                            </table>
                                        </span>
                                    </li>
                                }
                                <li style="text-align: left; width: 100%;">
                                    @if (Model != null && Model.TouchInfoUpdatedBySL != null && (int)Model.TouchInfoUpdatedBySL.SLUpdatedStatusType == (int)PR.LocalLogisticsSolution.Model.SLUpdateType.Canceled)
                                    {
                                        <button class="image-button bg-color-darken fg-color-white btnConfSkipTouchFromRemoved" style="margin: auto;">
                                            Skip this Touch<img src="@Url.Content("~/Mcontent/Images/Next.png")" class="bg-color-green" />
                                        </button>
                                    }
                                    else
                                    {
                                        if (Model.TouchInfoLog.VerifiedTouchInfo_ReadyToStart && ViewBag.VerifiedTouchInfo_ReadyToStart)
                                        {
                                            <button id="gotoNextPage" class="image-button bg-color-darken fg-color-white" style="margin: auto;">
                                                Next<img src="@Url.Content("~/Mcontent/Images/Next.png")" class="bg-color-green" />
                                            </button>
                                        }
                                        else
                                        {
                                            <button id="btnSkip" class="image-button bg-color-darken fg-color-white" style="margin: auto;">
                                                Skip this Touch<img src="@Url.Content("~/Mcontent/Images/Next.png")" class="bg-color-green" />
                                            </button>
                                            <br />
                                            <br />


                                            <button id="btnStart" class="image-button bg-color-darken fg-color-white" style="margin: auto;">
                                                I'm ready to start<img src="@Url.Content("~/Mcontent/Images/Next.png")" class="bg-color-green" />
                                            </button>
                                        }
                                    }
                                </li>
                                <div class="clearfix">
                                </div>
                            </ul>
                        </div>
                        <div class="pivot-item">
                        </div>
                        <div class="clerfix">
                        </div>
                    </div>
                    <div class="clerfix">
                    </div>
                </div>
            }
            else
            {
                <div class="form-panel">
                    <h2>
                        <img src="@Url.Content("~/Mcontent/Images/Touch-type.png")" width="48" height="48" style="float: left; margin-right: 10px;" />
                        <div class="h-title">
                            <span style="float: left; font-size: 9pt; text-transform: uppercase; vertical-align: middle;">
                                Returning from @Model.DriverTouch.TouchType to @DriverMobileApp.Models.PR_AddressType.Warehouse
                            </span>
                        </div>
                        <div class="clearfix">
                        </div>
                    </h2>
                    <div class="clearfix">
                    </div>
                    <div class="metro-pivot touch-info-page">
                        <div class="pivot-item">
                            <ul class="form-list" style="margin-top: 0%;">
                                <li>
                                    <span class="label-form">To</span>
                                    <div class="clearfix">
                                    </div>
                                    <span class="user-name">
                                        @Model.DriverTouch.FacilityName
                                        <br />
                                    </span>
                                    <div class="clearfix">
                                    </div>
                                    <span style="font-size: 100%; padding: 5px;">
                                        <div class="clearfix">
                                        </div>
                                </li>
                                <li>
                                    <span class="label-form">Estimated Touch Time </span><span class="label-value">
                                        <span class="capital">
                                            @(Model.DriverTouch.EstimatedStartTime)
                                            - @(Model.DriverTouch.EstimatedEndTime)
                                        </span>
                                        <br />
                                    </span>
                                </li>

                                <li style="text-align: center; width: 100%;">
                                    @if (Model.TouchInfoLog.VerifiedTouchInfo_ReadyToStart && ViewBag.VerifiedTouchInfo_ReadyToStart)
                                    {
                                        <button id="gotoNextPage" class="image-button bg-color-darken fg-color-white" style="margin: auto;">
                                            Next<img src="@Url.Content("~/Mcontent/Images/Next.png")" class="bg-color-green" />
                                        </button>
                                    }
                                    else
                                    {
                                        <button id="btnStart" class="image-button bg-color-darken fg-color-white" style="margin: auto;">
                                            I'm ready to start<img src="@Url.Content("~/Mcontent/Images/Next.png")" class="bg-color-green" />
                                        </button>
                                    }
                                </li>
                                <div class="clearfix">
                                </div>
                            </ul>
                        </div>
                        <div class="pivot-item">
                        </div>
                        <div class="clerfix">
                        </div>
                    </div>
                    <div class="clerfix">
                    </div>
                </div>

            }
        </div>
    }
    else
    {
        <div id="dlgSlError" class="message-dialog  bg-color-blue fg-color-white" style="display: none;">
            <div class="popup-hdr">
                <div class="pop-left">
                    <h3>
                        SiteLink Error !
                    </h3>
                </div>
                <div class="pop-right">
                    <img width="32" height="32" src="@Url.Content("~/Mcontent/Images/Cancel.png")" class="bClose">
                </div>
                <div class="clearfix">
                </div>
            </div>
            <p>
                @ViewBag.SlError
            </p>
            <button class="place-right" id="btnSlErrorClose">
                Logout
            </button>
        </div>
    }
</div>
<div id="dlgSkipTouch" class="message-dialog  bg-color-blue fg-color-white" style="display: none;">
    <div class="popup-hdr">
        <div class="pop-left">
            <h3>
                Skip this Touch !
            </h3>
        </div>
        <div class="pop-right">
            <img width="32" height="32" src="@Url.Content("~/Mcontent/Images/Cancel.png")" class="bClose">
        </div>
        <div class="clearfix">
        </div>
    </div>
    <p>
        Are you sure you want to skip this touch?
    </p>
    <button class="place-right" id="btnConfSkipTouch">
        Okay
    </button>
    <button class="place-right bClose" id="btnCancelSkipTouch">
        Cancel
    </button>
</div>
@Scripts.Render("~/bundles/TouchInfo")

<script type="text/javascript">
    var URLHelperTouchInfo = {
        getReadyToStart: '@Url.Action("ReadyToStartConfirm", "TouchInfo")',
        getContainerLocked: '@Url.Action("ContinerLocked", "TouchInfo")',
        redirectToConfirmSkipTouch: '@Url.EncryptAction("Index", "SkipTouch", new { TouchType = @Model.DriverTouch.TouchType, QORid = @Model.DriverTouch.QORID, StopType = @Model.DriverTouch.StopType, TouchStopId = @Model.DriverTouch.TouchStopId, pg = "ti" })',
        redirectToCancelTouch: '@Url.EncryptAction("CancelTouchForCancledOrRescheduledTouch", "SkipTouch", new { TouchId = @Model.DriverTouch.TouchId, QORid = @Model.DriverTouch.QORID, TouchStopId = @Model.DriverTouch.TouchStopId, TouchType = @Model.DriverTouch.TouchType, StopType = @Model.DriverTouch.StopType })',
        redirectToCustAddress: '@Url.EncryptAction("Index", "CustAddress", new { TouchType = @Model.DriverTouch.TouchType, QORid = @Model.DriverTouch.QORID, StopType = @Model.DriverTouch.StopType })'
    };

    var touchInfoJSVariables = {
        TouchID: '@(Model.DriverTouch.TouchId)',
        TouchType: '@(Model.DriverTouch.TouchType)',
        QORID: '@(Model.DriverTouch.QORID)',
        StopType: '@(Model.DriverTouch.StopType)',
        TouchStopId: '@(Model.DriverTouch.TouchStopId)',
        UnitNo: '@(Model.DriverTouch.ContainerNumber)'
    }
</script>
