﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=0" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Mcontent/css/modern")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/mcontentjs")
    @Scripts.Render("~/bundles/innersite")

    <script type="text/javascript">
        var URLHelperGlobal = {
            GetLocalTimeUrl: '@Url.Action("GetLocalTime", "Home")'
        }
    </script>   
</head>
<body>
    <div class="mainblock">
        <div id="blocker">
        </div>
        <div id="blockerimg">
            <img src="@Url.Content("~/Mcontent/Images/Loading.gif")" alt="Page loading progress " />
        </div>
    </div>
    <div class="page">
        <div class="page-header">
            <div class="nav-bar">
                <div class="nav-bar-inner padding10">
                    <span class="pull-menu"></span><a href="@Url.Action("Index", "DashBoard")" onclick="return showLoadng();">
                        <span class="element" style="font-size: 110%;">
                            <img src="@Url.Content("~/Mcontent/Images/mobile_home.png")" style="float:left; margin-right:5px; margin-top:-10px; height:200%;" />PACKRAT
                            DRIVER APPLICATION
                        </span>
                    </a>
                    <a href="@Url.Action("Index", "ExceptionTouch")" onclick="return showLoadng();" id="liSearch" title="Search Touch">
                        <span class="element" style="font-size: 110%;">
                            <img src="@Url.Content("~/Mcontent/Images/mobile_search.png")" style="float:left; margin-right:5px; margin-top:-10px; height:200%;" />
                            Search
                        </span>
                    </a>
                    <div class="element" id="showdate">
                        Local Date & Time :
                    </div>
                    @*<li style="font-size: 100%;" id="liSearch">
                        <a href="@Url.Action("Index", "ExceptionTouch")" onclick="return showLoadng();">
                            <text>Search</text>
                        </a>
                    </li>*@
                    <ul class="menu" style="float: right; text-align: right;">
                        <li style="font-size: 100%;">
                            <text>Welcome</text>
                            <b>@Request.Cookies["LoginName"].Value</b>
                        </li>
                        <li style="font-size: 100%;">
                            <a href="@Url.Action("ClearTouchList", "DashBoard")" onclick="return showLoadng();">
                                <text>Refresh</text>
                            </a>
                        </li>
                        <li>
                            @Html.ActionLink("Logout", "Logout", "Home")
                            <text>&nbsp;if you are not</text>
                            @Request.Cookies["LoginName"].Value
                        </li>
                        <li>
                            <div style="text-align: right; color: White; font-size: smaller;">
                                Version : v @DriverMobileApp.Helper.Utility.AppVersion &nbsp;
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>
    <div class="page">
        <div class="footer-bar">
            <div class="nav-bar-inner padding10">
                <span class="element">Copyright 2018, All Rights Reserved | 1-800-PackRat </span>
            </div>
        </div>
    </div>
</body>
</html>
</html>