﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>    
    @Styles.Render("~/Mcontent/css/modern")
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Scripts.Render("~/bundles/jquery")
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=0">
</head>
<body>
    <div class="mainblock">
        <div id="blocker">
        </div>
        <div id="blockerimg">
            <img src="@Url.Content("~/Mcontent/Images/Loading.gif")" alt="Page loading progress " />
        </div>
    </div>
    @RenderBody()
    <div class="page">
        <div class="footer-bar">
            <div class="nav-bar-inner padding10">
                <span class="element">Copyright 2018, All Rights Reserved | 1-800-PackRat</span>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    function showLoadng() {
        $('.mainblock').show();
    }
    function hideLoading() {
        $('.mainblock').hide();
    }
    $(document).ready(function () {
        $('.mainblock').hide();
    });
</script>
