﻿@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Application Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page">
    <div class="page-header">
        <div class="page-header-content">
            <div>
                <div class="login-logo">
                    <img src="@Url.Content("~/Mcontent/Images/packratlogobluenew.png")" width="309" height="87" class="logo" />
                </div>
            </div>
        </div>
    </div>
    <div>
        <h1 class="error">
            Application Error
        </h1>
        <h2 class="error">
            Sorry, an error occurred while processing your request.
        </h2>
        <p>
            Error Message:
            @if (Model != null && Model.Exception != null)
            {
                @Html.Raw(Model.Exception.Message);
                HttpContext.Current.Session["StackTrace"] = Model.Exception.StackTrace;
            }
            else
            {
                @Html.Raw(string.IsNullOrEmpty(ViewBag.Error) ? "General Error Occurred While Processing Your Request. Please Reload Page And Try Again." : ViewBag.Error);
                HttpContext.Current.Session["StackTrace"] = string.Empty;
            }
        </p>
        <br />
        <p>
            @Html.ActionLink("Go to Login page", "Logout", "Home")
        </p>
    </div>
</div>
<br />
<br />
@if (Model != null && Model.Exception != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: "Home/Error",
                type: 'POST',
                data: { strError: '@(@Model.Exception.Message.ToString())' }
            });
        });
    </script>
}