﻿
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<div class="page">
    <div class="page-header">
        <div class="page-header-content">
            <div>
                <div class="login-logo">
                    <img src="@Url.Content("~/Mcontent/Images/packratlogobluenew.png")" width="309" height="87" class="logo" />
                </div>
            </div>
        </div>
    </div>
    <div>
        <h1 class="error">
            Application Error
        </h1>
        <h2 class="error">
            Sorry, The Page, You are Looking for is not found. 
        </h2>
        <p>
           
        </p>
        <br />
        <p>
            @Html.ActionLink("Go to DashBoard page", "Index", "DashBoard")
        </p>
    </div>
</div>
<br />
<br /> 

