﻿@*@model DriverMobileApp.Models.TouchInfoUpdatedBySL*@
@model DriverMobileApp.Models.DriverTouchInfo
@if (Model != null && Model.TouchInfoUpdatedBySL != null)
{
    if ((int)Model.TouchInfoUpdatedBySL.SLUpdatedStatusType == (int)PR.LocalLogisticsSolution.Model.SLUpdateType.Canceled)
    {
        <div id="dlgSkipTouchSkip" class="message-dialog  bg-color-blue fg-color-white">
            <div class="popup-hdr">
                <div class="pop-left">
                    <h3>
                        Skip this Touch !
                    </h3>
                </div>
                <div class="pop-right">
                    <img width="32" height="32" src="@Url.Content("~/Mcontent/Images/Cancel.png")" class="bClose">
                </div>
                <div class="clearfix">
                </div>
            </div>
            <p>This touch has been removed from the schedule as of @DateTime.Now.ToString("d"). Please skip this touch and continue with next touch.</p>
            <button class="place-right btnConfSkipTouchFromRemoved">
                Okay
            </button>
        </div>
        <script type="text/javascript">
            $("#dlgSkipTouchSkip").bPopup();
        </script>
    }
    else if (Model.TouchInfoUpdatedBySL.SLUpdatedStatusType != null && (int)Model.TouchInfoUpdatedBySL.SLUpdatedStatusType != (int)PR.LocalLogisticsSolution.Model.SLUpdateType.Nochanges && (int)Model.TouchInfoUpdatedBySL.SLUpdatedStatusType != (int)PR.LocalLogisticsSolution.Model.SLUpdateType.Sync)
    {
        if (Model.TouchInfoUpdatedBySL.changedAddress != null && Model.DriverTouch.DestinationAddress.FullAddress != Model.TouchInfoUpdatedBySL.changedAddress.FullAddress)
        {
            <div style="color: red; border: 1px solid; padding: 10px;">
                <span>This stop to address has been updated and below is the updated information:</span>
                <div>
                    <span class="touch-updates-compar" style="font-weight: bold;">
                        Updated Address:
                    </span>
                    <span class="touch-updates-compar">
                        @Model.TouchInfoUpdatedBySL.changedAddress.FullAddress
                    </span>
                </div>
            </div>
        }
    }
}