﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}
<link href="@Url.Content("~/Mcontent/Signature/jquery.signaturepad.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Mcontent/Signature/jquery-1.7.1.js")" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Mcontent/Signature/jquery.signaturepad.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Mcontent/Signature/json2.min.js")"></script>
<div class="clearfix">
</div>
<div class="page-region">
    <div class="page-region-content">
        <div class="form-panel">
            <!--header image starts-->
            <h2>
                <a href="/InnerDashBoard">
                    <img src="@Url.Content("~/Mcontent/Images/Previous.png")" width="48" height="48" style="float: left; margin-right: 10px;" /></a>
                <img src="@Url.Content("~/Mcontent/Images/Signature.png")" width="48" height="48" style="float: left; margin-right: 10px;" />
                <div class="h-title">
                    <span style="float: left; font-size: 9pt; text-transform: uppercase;">Customer &nbsp;
                        Signature &nbsp;( QORID - @Request.Cookies["QORid"].Value ) </span>
                </div>
                <div class="clearfix">
                </div>
            </h2>
            <!--<div class="show-map"><button class="image-button bg-color-grayDark fg-color-white">Show route map<img src="Images/map2.png" class="bg-color-blue"></button></div>-->
            <!--header image ends-->
            <ul class="form-list nomargin-top-bottom">
                <div style="text-align: right">
                    @Html.ActionLink("Print Touch Ticket", "GetTouchPDF", null, new { target = "_self" })
                </div>
                <li style="width: 100%;"><span class="label-form">Customer Name</span>
                    <div clas="clearfix">
                    </div>
                    <span class="value">
                        <div class="input-control text">
                            <input type="text" id="CustomerName" value="@ViewBag.CustomerName">
                            <button onclick="CustomerName.value=''; CustomerName.focus();" class="helper" tabindex="-1"
                                type="button">
                            </button>
                        </div>
                        <label class="input-control checkbox">
                            <input type="checkbox" id="SameAsPayee" name="SameAsPayee" checked="checked">
                            <span class="helper">Same as payee</span>
                        </label>
                    </span></li>
                <li><span class="label-form">Sign here</span>
                    <div clas="clearfix">
                    </div>
                    <span class="value">
                        <div class="input-control textarea">
                            @*   -----------------------------------------
                                 Signature pad starts here
                                ------------------------------------------
                            *@
                            <div class="clearfix">
                            </div>
                            <div class="sigPad">
                                <div class="sig12 sigWrapper">
                                    <div class="typed">
                                    </div>
                                    <canvas class="pad" id="Sigpad" width="400" height="150">
                                    </canvas>
                                    <input type="hidden" name="output" class="output">
                                </div>
                            </div>
                            <br />
                            <input type="submit" id="btnClear" value="Clear">
                            <br />
                            <div id="imgdiv">
                            </div>
                            @*   -----------------------------------------
                                 Signature pad ends here
                                ------------------------------------------
                            *@
                        </div>
                    </span></li>
                <li id="RemarkArea"><span class="label-form">Remark</span>
                    <div clas="clearfix">
                    </div>
                    <span class="value">
                        <div class="input-control textarea">
                            <textarea rows="5" id="Remark">
</textarea>
                        </div>
                    </span></li>
                <div class="clearfix">
                </div>
            </ul>
            <div class="button-panel">
                <input type="submit" id="saveSignature" name="saveSignature" value="Save">
                <input type="submit" value="Cancel"></div>
            <div class="clearfix">
            </div>
        </div>
        <div class="clerfix">
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#RemarkArea").hide();
        $('.sigPad').signaturePad({ drawOnly: true, lineTop: 120 });
        $("#btnClear").click(function () { $("#imgdiv").html(""); $('.sigPad').signaturePad({ drawOnly: true }).clearCanvas(); });
        $("#saveSignature").click(function () {
            if (NameValidator() && SigPadValidator()) {
                $.ajax({
                    type: 'post',
                    data: { json: $(".output").val(),
                        CustomerName: $("#CustomerName").val(),
                        SameAsPayee: $('input:checkbox[name=SameAsPayee]').is(':checked'),
                        Remark: $("#Remark").val()
                    },
                    url: '@Url.Action("GenerateImage", "Signature")',
                    success: function (result) {
                        if (result)
                            alert("Signature captured successfully");
                        if (result) {
                            showLoadng();
                            window.location = "/InnerDashBoard";
                        }
                    }

                });

            }



        });
    });


    $("#SameAsPayee").click(function () {
        if ($("#SameAsPayee").attr("checked") != "checked")
            $("#RemarkArea").show();
        else
            $("#RemarkArea").hide();
    });

    //Validation for signature pad
    function SigPadValidator() {
        if ($(".output").val().length == 0) {
            alert("Signature is empty");
            return false;
        }
        else
            return true;
    };

    //Validation for Customer name
    function NameValidator() {
        if ($.trim($("#CustomerName").val()) == "") {
            alert("Customer name is empty");
            return false;
        }
        else
            return true;
    };


</script>
