﻿@model DriverMobileApp.Models.TouchDataWithCustomerInfo
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}
<div class="page-region">
    <div class="page-region-content">
        <div class="form-panel">
            <h2>
                <img src="@Url.Content("~/Mcontent/Images/Touch-type.png")" width="48" height="48" style="float: left; margin-right: 10px;" />
                <div class="h-title">
                    <span style="float: left; font-size: 9pt; text-transform: uppercase;">Touches Type:</span><br />
                    <span style="float: left;">@ViewBag.TouchType</span>
                </div>
                <div class="clearfix">
                </div>
            </h2>
            <div class="clearfix">
            </div>
            <div class="metro-pivot touch-info-page">
                <div class="pivot-item">
                    <ul class="form-list" style="margin-top: 0%;">
                        <li><span class="label-form">Facility Address</span>
                            <div clas="clearfix">
                            </div>
                            <span class="user-name">@(!string.IsNullOrEmpty(Model.TouchData.AddrTo_Company) ? Model.TouchData.AddrTo_Company : "")
                                <br />
                            </span><span id="ToAddress" style="display: none;"><span id="ToAddressVal" style="font-size: 100%;"
                                class="value">@(!string.IsNullOrEmpty(Model.TouchData.AddrTo_Addr1) ? Model.TouchData.AddrTo_Addr1 + ", " : "")@(!string.IsNullOrEmpty(Model.TouchData.AddrTo_Addr2) ? Model.TouchData.AddrTo_Addr2 + "," : "")
                                @(!string.IsNullOrEmpty(Model.TouchData.AddrTo_City) ? Model.TouchData.AddrTo_City + ", " : "")@(!string.IsNullOrEmpty(Convert.ToString(Model.TouchData.AddrTo_State)) ? Model.TouchData.AddrTo_Zip + "." : "")
                            </span>
                                <div class="clearfix">
                                </div>
                                <span style="font-size: 100%; padding: 5px;"><span class="icon-phone" style="float: left;">
                                </span>@Model.TouchData.AddrTo_PhoneNum</span></span>
                            <div class="clearfix">
                            </div>
                            <li><span class="label-form">Unit</span>
                                <div clas="clearfix">
                                </div>
                                <span class="label-value"><span class="capital">@Model.TouchData.UnitLength&nbsp;ft</span>
                                    <br />
                                </span></li>
                            <li><span class="label-form">Visual inspection</span>
                                <div clas="clearfix">
                                </div>
                                <span class="value">
                                    <table class="bordered form-table">
                                        <tr>
                                            <td colspan="2">
                                                Unit is locked properly
                                            </td>
                                            <td>
                                                <label class="input-control checkbox">
                                                    <input type="checkbox" id="VisualInspectionStatus" name="VisualInspectionStatus"
                                                        class="posCheckBox" onclick="if(this.checked){ $('#spanPOS_'+this.id).html('Verified');}else{$('#spanPOS_'+this.id).html('Not verified');}" />
                                                    <span class="helper" id="spanPOS_VisualInspectionStatus">Not verified</span>
                                                </label>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="update-btn-div">
                                        <a class="button default" id="dlgUpdate">Update</a></div>
                                </span></li>
                            <li style="text-align: center; width: 100%;">
                                <button id="btnStart" class="image-button bg-color-darken fg-color-white" style="margin: auto;">
                                    I'm ready to start<img src="@Url.Content("~/Mcontent/Images/Next.png")" class="bg-color-green"></button></li>
                            <div class="clearfix">
                            </div>
                    </ul>
                </div>
                <div class="pivot-item">
                </div>
                <div class="clerfix">
                </div>
            </div>
            <div class="clerfix">
            </div>
        </div>
    </div>
</div>
<div id="dlgEnterUnitNumber" class="message-dialog bg-color-oliveDark" style="display: none;">
    <div class="popup-hdr">
        <div class="pop-left">
            <h3>
                Enter unit number</h3>
        </div>
        <div class="pop-right">
            <img width="32" height="32" src="@Url.Content("~/Mcontent/Images/Cancel.png")" class="bClose"></div>
        <div class="clearfix">
        </div>
    </div>
    <ul class="poplist-form">
        <li>
            <label class="label">
                Unit No</label>
            <span class="value">
                <div class="input-control text">
                    @Html.TextBox("UnitNo")
                    <button type="button" tabindex="-1" class="helper" onclick="return false">
                    </button>
                </div>
            </span></li>
        <li>
            <label class="label">
                Re Enter Unit No</label>
            <span class="value">
                <div class="input-control text">
                    @Html.TextBox("ReUnitNo")
                    <button type="button" tabindex="-1" class="helper" onclick="return false">
                    </button>
                </div>
            </span></li>
    </ul>
    <div class="clearfix">
    </div>
    <button class="place-right bClose">
        Cancel</button>
    <button class="place-right" id="SubmitEnterUnitNumber">
        Submit</button>
</div>
<div id="ready2start" class="message-dialog bg-color-oliveDark" style="display: none;
    color: #fff;">
    <div class="popup-hdr">
        <div class="pop-left">
            <h3>
                Ready to Start</h3>
        </div>
        <div class="pop-right">
            <img width="32" height="32" src="@Url.Content("~/Mcontent/Images/Cancel.png")" class="bClose"/>
        </div>
        <div class="clearfix">
        </div>
    </div>
    <p class="pop-para">
        Ready to Start?</p>
    <div class="clearfix">
    </div>
    <button class="place-right bClose" id="btnconfirm2">
        Confirm</button>
    <button class="place-right bClose">
        Cancel</button>
</div>
<script type="text/javascript">
    $('#dlgUpdate').click(function (e) {
        var isPosChecked = true;

        $('.posCheckBox').each(function (obj) {
            if (!this.checked) isPosChecked = false;
        });
        if ($('#ToAddress').css("display") == 'none') {
            if (isPosChecked)
                var obj = $('#dlgEnterUnitNumber').bPopup();
            else
                alert('Please verify all the POS items.');
        }
    });

    $('#btnStart').click(function (e) {
        if ($('#ToAddress').css("display") != 'none')
            $('#ready2start').bPopup();
    });

    $("#viewMap").click(function () {
        $("div.metro-pivot").data("controller").goToNext();

    });

    $("#gotoDetails").click(function () {
        $("div.metro-pivot").data("controller").goToItemByName('Details');

    });

    $("#btnconfirm2").click(function () {
        $.ajax({
            url: "ReturnToFacility/ReadyToStartConfirm",
            type: 'POST',
            success: function (result) {
                // process the results from the controller action
                if (result == "true") {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var latitude = 35.7680836; //position.coords.latitude;
                        var longitude = -78.7274363; // position.coords.longitude;
                        var postData = { latitude: latitude, longtitude: longitude };
                        var toaddress = $.trim($('#ToAddressVal').html());

                        window.location = "/Map?latitude=" + latitude + "&longitude=" + longitude + "&toaddress=" + toaddress;
                    });
                }
            }
        });
    });

    $("#SubmitEnterUnitNumber").click(function () {
        if ($.trim($('#UnitNo').val()).length <= 0 || $.trim($('#ReUnitNo').val()).length <= 0) {
            alert('Please enter UnitNo');
            return false;
        }
        //Validate to check ReUnit and Unit numbers are same or not
        if ($.trim($('#UnitNo').val()) != $.trim($('#ReUnitNo').val())) {
            alert("Please enter Re Enter Unit No same as Unit No.");
            return false;
        }
        $.ajax({
            url: "ReturnToFacility/SubmitUnitNo",
            type: 'POST',
            data: { UnitNo: $.trim($('#UnitNo').val()), QORid: @(Model.TouchData.QORID) },
            success: function (result) {
                // process the results from the controller action
                if (result == "true") {
                    $('#ToAddress').show();
                    $("#dlgEnterUnitNumber").bPopup().close();

                    $('.posCheckBox').each(function (obj) {
                        $('#' + this.id).attr('disabled', 'disabled');
                    });
                }
                else
                alert("Not a valid Unit No");
            }
        });
    });    
</script>
