﻿@model DriverMobileApp.Models.RemainingToucheCustinfo
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}
<div class="page-region">
    <div class="page-region-content">
        <div class="form-panel">
            <!--header image starts-->
            <h2>
                <a href="~/dashboard">
                    <img src="@Url.Content("~/Mcontent/Images/Previous.png")" width="48" height="48" style="float: left; margin-right: 10px;" /></a>
                <img src="@Url.Content("~/Mcontent/Images/Touch-type.png")" width="48" height="48" style="float: left; margin-right: 10px;" />
                <div class="h-title">
                    <span class="back-arrow"></span><span style="float: left; font-size: 9pt; text-transform: uppercase;">
                        Touch Type</span>
                    <br />
                    <span style="float: left;">
                        @if (@Model.CustomerInfo!=null && @Model.CustomerInfo.DestinationAddress !=null && @Model.CustomerInfo.DestinationAddress.AddressType != DriverMobileApp.Models.PR_AddressType.AddressType.Warehouse)
                        {
                            <text> @Model.CustomerInfo.TouchType to @DriverMobileApp.Models.PR_AddressType.Customer
                            (QORID: @Model.CustomerInfo.QORID)</text>
                        }
                        else
                        { 
                            <text> Return from @Model.CustomerInfo.TouchType to @DriverMobileApp.Models.PR_AddressType.Warehouse
                            </text>
                        }
                    </span>
                </div>
                <div class="clearfix">
                </div>
            </h2>
            @if (Model.CustomerInfo != null && @Model.CustomerInfo.DestinationAddress != null && Model.CustomerInfo.DestinationAddress.AddressType != DriverMobileApp.Models.PR_AddressType.AddressType.Warehouse)
            {
                <ul class="form-list" style="margin-top: 0%;">
                    @if (Model.CustomerInfo.SkipTouch)
                    {
                        <li><span class="label-value"><span class="capital" style="color: Red; font-weight: bold;">
                            Marked as Skip Touch
                            <text> &nbsp; </text>
                        </span></span></li>
                    }
                    <li><span class="label-form">Name</span> <span class="label-value"><span class="capital">
                        @Model.CustomerInfo.CustomerName
                        <text> &nbsp; </text>
                    </span></span></li>
                    <li><span class="label-form">Destination Address</span> <span class="label-value"><span
                        class="capital" style="line-height: 25px;">
                        @(!string.IsNullOrEmpty(Model.CustomerInfo.DestinationAddress.AddressLine1) ? Model.CustomerInfo.DestinationAddress.AddressLine1 + ", " : "")
                        @(!string.IsNullOrEmpty(Model.CustomerInfo.DestinationAddress.AddressLine2) ? Model.CustomerInfo.DestinationAddress.AddressLine2 + "," : "")
                        @(!string.IsNullOrEmpty(Model.CustomerInfo.DestinationAddress.City) ? Model.CustomerInfo.DestinationAddress.City + ", " : "")
                        @(!string.IsNullOrEmpty(Model.CustomerInfo.DestinationAddress.State) ? Model.CustomerInfo.DestinationAddress.State + ", " : "")
                        @(!string.IsNullOrEmpty(Convert.ToString(Model.CustomerInfo.DestinationAddress.Zip)) ? Model.CustomerInfo.DestinationAddress.Zip + "." : "")
                    </span></span></li>
                    <li><span class="label-form">Phone No</span> <span class="label-value"><span class="capital">
                        @*@string.Format("{0:(###) ###-####}", Convert.ToInt64(Model.CustomerInfo.OriginAddress.PhoneNumber))*@
                        @Model.CustomerInfo.OriginAddress.PhoneNumber
                    </span>
                        <br />
                    </span></li>
                    <li><span class="label-form">QORID</span> <span class="label-value"><span class="capital">
                        @Model.CustomerInfo.QORID
                    </span></span></li>
                    @if (@Model.CustomerInfo.TouchType != DriverMobileApp.Models.PR_TouchType_Constant.DE)
                    {
                        <li><span class="label-form">Container Number </span><span class="label-value"><span
                            class="capital">
                            @(String.IsNullOrWhiteSpace(Model.CustomerInfo.ContainerNumber) ? "N/A" : @Model.CustomerInfo.ContainerNumber)
                        </span></span></li>
                    }
                    <li><span class="label-form">Touch Type</span> <span class="label-value"><span class="capital">
                        @Model.CustomerInfo.TouchType
                    </span></span></li>
                    <li><span class="label-form">Scheduled Touch Time </span><span class="label-value"><span
                        class="capital">
                        @(Model.CustomerInfo.ScheduledStartTime.ToString())
                        - @(Model.CustomerInfo.ScheduledEndTime.ToString())
                    </span>
                        <br />
                    </span></li>
                    <li><span class="label-form">Estimated Touch Time </span><span class="label-value"><span
                        class="capital">
                        @(Model.CustomerInfo.EstimatedStartTime.ToString())
                        - @(Model.CustomerInfo.EstimatedEndTime.ToString())
                    </span>
                        <br />
                    </span></li>
                    <li><span class="label-form">Unit</span>
                        <div clas="clearfix">
                        </div>
                        <span class="label-value"><span class="capital">@Model.TouchData.UnitLength&nbsp;ft
                            @if (Model.CustomerInfo.IsZippyShellMove)
                            { <text> (ZM)</text> }
                            </span>                           
                            <br />
                        </span></li>
                    <li><span class="label-form">Door Position</span>
                        <div class="clearfix">
                        </div>
                        <span class="label-value"><span class="capital">
                            @if (Model.TouchData != null)
                            {
                                @(Model.TouchData.DoorFacesRear ? "Door-to-Rear" : "Door-to-Front")
                            }
                        </span>
                            <br />
                        </span></li>
                    <li><span class="label-form">Driveway Type</span>
                        <div clas="clearfix">
                        </div>
                        <span class="label-value"><span class="capital">
                            @if (Model.TouchData != null)
                            {
                                @((Model.TouchData.Drivewaytype_Bricked) ? "Bricked, " : "")
                                @((Model.TouchData.Drivewaytype_Curbed) ? "Curbed, " : "")
                                @((Model.TouchData.Drivewaytype_Dirt) ? "Dirt, " : "")
                                @((Model.TouchData.Drivewaytype_Sloped) ? "Sloped, " : "")
                                @((Model.TouchData.Drivewaytype_Soft) ? "Soft, " : "")
                                @((Model.TouchData.Drivewaytype_Grvel) ? "Grvel, " : "")
                                @((Model.TouchData.Drivewaytype_Paved) ? "Paved, " : "")
                                @((Model.TouchData.Drivewaytype_Other) ? "Other" : "")
                            }
                        </span>
                            <br />
                        </span></li>
                    <li><span class="label-form">Obstacle</span>
                        <div class="clearfix">
                        </div>
                        <span class="label-value"><span class="capital">
                            @if (Model.TouchData != null)
                            {
                                @((Model.TouchData.Obstacle_Landscaping) ? "Landscaping, " : "")
                                @((Model.TouchData.Obstacle_PowerLines) ? "PowerLines, " : "")
                                @((Model.TouchData.Obstacle_Fences) ? "Fences, " : "")
                                @((Model.TouchData.Obstacle_Trees) ? "Trees, " : "")
                                @((Model.TouchData.Obstacle_Sprinklers) ? "Sprinklers, " : "")
                                @((Model.TouchData.Obstacle_Septic) ? "Septic, " : "")
                                @((Model.TouchData.Obstacle_Other) ? "Other, " : "")
                            }
                        </span></span></li>
                    @if (!String.IsNullOrEmpty(Model.TouchData.Directions))
                    {
                        <li><span class="label-form">Direction</span>
                            <div class="clearfix">
                            </div>
                            <span class="label-value"><span class="capital">
                                @Model.TouchData.Directions.ToString().Trim()
                            </span></span></li>
                    }
                    @if (!String.IsNullOrEmpty(Model.TouchData.Instructions))
                    {
                        <li><span class="label-form">Instruction</span>
                            <div class="clearfix">
                            </div>
                            <span class="label-value"><span class="capital">
                                @Model.TouchData.Instructions.ToString().Trim()
                            </span></span></li>
                    }
                    <li><span class="label-value">
                        <table class="bordered form-table">
                            @if (Model.POSData != null)
                            {
                                <tr>
                                    <td colspan="2">
                                        <span class="label-form">POS</span>
                                    </td>
                                </tr>
                                int ii = 0;
                                foreach (var positem in Model.POSData)
                                {
                                    ii = ii + 1;
                                <tr>
                                    <td>
                                        @positem.ItemDescription
                                    </td>
                                    <td>
                                        @positem.Quantity
                                    </td>
                                </tr>
                                }
                            }
                        </table>
                    </span></li>
                    <div class="clearfix">
                    </div>
                </ul>
            }
            else
            {
                <ul class="form-list" style="margin-top: 0%;">
                    <li><span class="label-form">Name</span> <span class="label-value"><span class="capital">
                        @DriverMobileApp.Models.PR_AddressType.Warehouse
                        <text> &nbsp; </text>
                    </span></span></li>
                    <li><span class="label-form">Destination Address</span> <span class="label-value"><span
                        class="capital" style="line-height: 25px;">@*                        @(!string.IsNullOrEmpty(Model.CustomerInfo.DestinationAddress.AddressLine1) ? Model.CustomerInfo.DestinationAddress.AddressLine1 + ", " : "")
                        @(!string.IsNullOrEmpty(Model.CustomerInfo.DestinationAddress.AddressLine2) ? Model.CustomerInfo.DestinationAddress.AddressLine2 + "," : "")
                        @(!string.IsNullOrEmpty(Model.CustomerInfo.DestinationAddress.City) ? Model.CustomerInfo.DestinationAddress.City + ", " : "")
                        @(!string.IsNullOrEmpty(Model.CustomerInfo.DestinationAddress.State) ? Model.CustomerInfo.DestinationAddress.State + ", " : "")
                        @(!string.IsNullOrEmpty(Convert.ToString(Model.CustomerInfo.DestinationAddress.Zip)) ? Model.CustomerInfo.DestinationAddress.Zip + "." : "")
*@
                        @Model.CustomerInfo.FacilityName
                    </span></span></li>
                    @* <li><span class="label-form">Phone No</span> <span class="label-value"><span class="capital">
                        @Model.CustomerInfo.OriginAddress.PhoneNumber
                    </span>
                        <br />
                    </span></li>
                    <li><span class="label-form">QORID</span> <span class="label-value"><span class="capital">
                        @Model.CustomerInfo.QORID
                    </span></span></li>
                    @if (@Model.CustomerInfo.TouchType != DriverMobileApp.Models.PR_TouchType_Constant.DE)
                    {
                        <li><span class="label-form">Container Number </span><span class="label-value"><span
                            class="capital">
                            @(String.IsNullOrWhiteSpace(Model.CustomerInfo.ContainerNumber) ? "N/A" : @Model.CustomerInfo.ContainerNumber)
                        </span></span></li>
                    }
                    <li><span class="label-form">Touch Type</span> <span class="label-value"><span class="capital">
                        @Model.CustomerInfo.TouchType
                    </span></span></li>
                    <li><span class="label-form">Estimated Touch Time </span><span class="label-value"><span
                        class="capital">
                        @(Model.CustomerInfo.ScheduledStartTime.ToString().Substring(0, Model.CustomerInfo.ScheduledStartTime.ToString().Length - 2) + ":" + Model.CustomerInfo.ScheduledStartTime.ToString().Substring(Model.CustomerInfo.ScheduledStartTime.ToString().Length - 2))
                        @((Convert.ToInt32(Model.CustomerInfo.ScheduledStartTime) >= 0001 && Convert.ToInt32(Model.CustomerInfo.ScheduledStartTime) <= 1200) ? "AM" : "PM")
                        - @(Model.CustomerInfo.ScheduledEndTime.ToString().Substring(0, Model.CustomerInfo.ScheduledEndTime.ToString().Length - 2) + ":" + Model.CustomerInfo.ScheduledEndTime.ToString().Substring(Model.CustomerInfo.ScheduledEndTime.ToString().Length - 2))
                        @((Convert.ToInt32(Model.CustomerInfo.ScheduledEndTime) >= 0001 && Convert.ToInt32(Model.CustomerInfo.ScheduledEndTime) <= 1200) ? "AM" : "PM")
                    </span>
                        <br />
                    </span></li>
                    <li><span class="label-form">Unit</span>
                        <div clas="clearfix">
                        </div>
                        <span class="label-value"><span class="capital">@Model.TouchData.UnitLength&nbsp;ft</span>
                            <br />
                        </span></li>
                    <li><span class="label-form">Door Position</span>
                        <div clas="clearfix">
                        </div>
                        <span class="label-value"><span class="capital">
                            @if (Model.TouchData != null)
                            {
                                @(Model.TouchData.DoorFacesRear ? "Door-to-Rear" : "Door-to-Front")
                            }
                        </span>
                            <br />
                        </span></li>
                    <li><span class="label-form">Driveway Type</span>
                        <div clas="clearfix">
                        </div>
                        <span class="label-value"><span class="capital">
                            @if (Model.TouchData != null)
                            {
                                @((Model.TouchData.Drivewaytype_Bricked) ? "Bricked, " : "")
                                @((Model.TouchData.Drivewaytype_Curbed) ? "Curbed, " : "")
                                @((Model.TouchData.Drivewaytype_Dirt) ? "Dirt, " : "")
                                @((Model.TouchData.Drivewaytype_Sloped) ? "Sloped, " : "")
                                @((Model.TouchData.Drivewaytype_Soft) ? "Soft, " : "")
                                @((Model.TouchData.Drivewaytype_Grvel) ? "Grvel, " : "")
                                @((Model.TouchData.Drivewaytype_Paved) ? "Paved, " : "")
                                @((Model.TouchData.Drivewaytype_Other) ? "Other" : "")
                            }
                        </span>
                            <br />
                        </span></li>
                    <li><span class="label-form">Obstacle</span>
                        <div class="clearfix">
                        </div>
                        <span class="label-value"><span class="capital">
                            @if (Model.TouchData != null)
                            {
                                @((Model.TouchData.Obstacle_Landscaping) ? "Landscaping, " : "")
                                @((Model.TouchData.Obstacle_PowerLines) ? "PowerLines, " : "")
                                @((Model.TouchData.Obstacle_Fences) ? "Fences, " : "")
                                @((Model.TouchData.Obstacle_Trees) ? "Trees, " : "")
                                @((Model.TouchData.Obstacle_Sprinklers) ? "Sprinklers, " : "")
                                @((Model.TouchData.Obstacle_Septic) ? "Septic, " : "")
                                @((Model.TouchData.Obstacle_Other) ? "Other, " : "")
                            }
                        </span></span></li>
                    @if (!String.IsNullOrEmpty(Model.TouchData.Directions))
                    {
                        <li><span class="label-form">Direction</span>
                            <div class="clearfix">
                            </div>
                            <span class="label-value"><span class="capital">
                                @Model.TouchData.Directions.ToString().Trim()
                            </span></span></li>
                    }
                    @if (!String.IsNullOrEmpty(Model.TouchData.Instructions))
                    {
                        <li><span class="label-form">Instruction</span>
                            <div class="clearfix">
                            </div>
                            <span class="label-value"><span class="capital">
                                @Model.TouchData.Instructions.ToString().Trim()
                            </span></span></li>
                    }
                    <li><span class="label-value">
                        <table class="bordered form-table">
                            @if (Model.POSData != null)
                            {
                                <tr>
                                    <td colspan="2">
                                        <span class="label-form">POS</span>
                                    </td>
                                </tr>
                                int ii = 0;
                                foreach (var positem in Model.POSData)
                                {
                                    ii = ii + 1;
                                <tr>
                                    <td>
                                        @positem.ItemDescription
                                    </td>
                                    <td>
                                        @positem.Quantity
                                    </td>
                                </tr>
                                }
                            }
                        </table>
                    </span></li>
                    *@
                    <div class="clearfix">
                    </div>
                </ul>
            }
            <div class="clerfix">
            </div>
        </div>
    </div>
</div>
