﻿@{
    ViewBag.Title = "Saved Map";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}
<div class="page-region">
    <div class="page-region-content">
        <h2>
            Location Map</h2>
        <p id="demo">
        </p>
        <button onclick="getLocation()">
            Click to see the current position</button><br />
        <br />
        <div id="mapholder">
        </div>
    </div>
</div>
<script>
    var x = document.getElementById("demo");
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);

        }
        else { x.innerHTML = "Geolocation is not supported by this browser."; }
    }

    function showPosition(position) {
        var latlon = position.coords.latitude + "," + position.coords.longitude;

        x.innerHTML = "Latitude: " + position.coords.latitude +
  "<br>Longitude: " + position.coords.longitude; +"<br>"




        var img_url = "http://maps.googleapis.com/maps/api/staticmap?center="
  + latlon + "&zoom=14&size=1400x600&sensor=false&markers=color:blue|label:S|" + latlon;
        document.getElementById("mapholder").innerHTML = "<img src='" + img_url + "'>";
    }

    function showError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                x.innerHTML = "User denied the request for Geolocation."
                break;
            case error.POSITION_UNAVAILABLE:
                x.innerHTML = "Location information is unavailable."
                break;
            case error.TIMEOUT:
                x.innerHTML = "The request to get user location timed out."
                break;
            case error.UNKNOWN_ERROR:
                x.innerHTML = "An unknown error occurred."
                break;
        }
    }
</script>
