﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}
<div class="page-region">
    <div class="page-region-content">
        <div class="form-panel">
            <h2>
                <a href="/InnerDashBoard">
                    <img src="@Url.Content("~/Mcontent/Images/Previous.png")" width="48" height="48" style="float: left; margin-right: 10px;" /></a>
                <img src="@Url.Content("~/Mcontent/Images/upload.png")" width="48" height="48" style="float: left; margin-right: 10px;" /><div
                    class="h-title">
                    <span style="float: left; font-size: 9pt; text-transform: uppercase;">Upload</span><br />
                    <span style="float: left;">Photo</span></div>
                <div class="clearfix">
                </div>
            </h2>
            <ul class="form-list2">
                <li>
                    <label class="label">
                        Folder</label>
                    <span class="value"><span style="float: left; width: 60%;">
                        <div class="input-control text">
                            <input type="text" placeholder="Upload image">
                            <button class="helper" tabindex="-1" type="button">
                            </button>
                        </div>
                    </span><span style="float: left;" class="upload-btn">
                        <button class="image-button bg-color-darken fg-color-white" style="margin: auto;">
                            Browse<img src="Images/Folder Open.png" class="bg-color-green"></button></span>
                    </span></li>
                <li>
                    <div class="select-image-panel">
                        <h2>
                            Select image files</h2>
                        <h4>
                            <span>image-1.jpg</span> <span style="float: right;"><a href="#">
                                <img src="Images/close.png" width="16" height="16" /></a></span></h4>
                    </div>
                </li>
                <li style="text-align: center; width: 100%;">
                    <input type="submit" value="Save"><input type="submit" value="Cancel"></li>
                <div class="clearfix">
                </div>
                <div class="img-thumb">
                    <img src="@Url.Content("~/Mcontent/Images/img-1.jpg")" width="150" /></div>
                <div class="clearfix">
                </div>
            </ul>
        </div>
    </div>
</div>
