﻿@model List<PR.LocalLogisticsSolution.Model.Touch>
@using DriverMobileApp.Helper
<div class="pivot-item">
    <h2>
        Available Touches - @Model.Count
    </h2>
    <div class="clearfix"></div>
    <div class="tile-group">
        @if (@ViewBag.Error != "")
        {
            <div class="tile double bg-color-red">
                <div class="tile-content">
                    <h2>
                        Please enter valid Unit #, Name, Phone # or Address to search.
                    </h2>
                </div>
            </div>
        }
        else if (Model != null && Model.Count != 0)
        {
            foreach (var Touch in Model)
            {
                <a href="@Url.EncryptAction("TouchInformation", "ExceptionTouch", new { TouchType = @Touch.TouchType, QORid = @Touch.Qorid })">
                    <div class="tile double bg-color-blueDark" style="height: 160px;">
                        <div class="tile-content">                          
                            <h2>
                                Touch: @Touch.TouchTypeDisp
                            </h2>
                            <h5>
                                CustomerName: @Touch.CustomerName
                            </h5>
                            <h5>
                                QORID - @Touch.Qorid, Cont. No -
                                @(Touch.TouchType == DriverMobileApp.Models.PR_TouchType_Constant.DE ? "N/A" : (String.IsNullOrWhiteSpace(Touch.UnitNumber) ? "N/A" : Touch.UnitNumber))
                                , Size - @Touch.Unitsize
                                @if (Touch.IsZippyShellQuote)
                                { <text> (ZM)</text> }
                            </h5>
                            <h5>
                                Scheduled:
                                @(Touch.ScheduledDate.ToShortDateString())&nbsp;
                                @(Touch.StartTime)
                            </h5>                           
                            <h5>
                                Address: @(Touch.DestAddress.FullAddress)
                                <text> - </text>
                                @Touch.DestAddress.Zip
                                <span class="icon-phone" call-to="@Touch.PhoneNumber">
                                    @Touch.PhoneNumber
                                </span>
                            </h5>                          
                            <div class="icon-bottom-right">
                                <img src="@Url.Content("~/Mcontent/Images/current-touch-icon.png")" width="36" height="36" />
                            </div>
                        </div>
                    </div>
                </a>
            }
        }
        else
        {
            <div class="tile double bg-color-blueDark">
                <div class="tile-content">
                    <h2>
                        No touches found.
                    </h2>
                </div>
            </div>
        }
    </div>
</div>