﻿@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<div id="dvSearch">
    <input type="text" id="txtSearch" placeholder="Search by Unit #, Name, Phone # or Address" style="color: black; width: 85%; height: 30px;" />
    <input type="button" id="btnSearch" class="default" style="margin-top:5px; width:10%" value="Search" onclick="LoadTouches(document.getElementById('txtSearch').value);" />
</div>
<div id="dvError" class="error">
    <label id="lblError" style="color:red">Please enter valid  Unit #, Name, Phone # or Address to search.</label>
</div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<br />
<div class="page-region-content">
    <div class="metro-pivot">
        <div id="availableTouches">
            <div class="tile double bg-color-blueDark">
                <div class="tile-content">
                    <h2>
                        Search by Unit #, Name, Phone # or Address
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="dlErrorMsg" class="message-dialog  bg-color-yellow fg-color-white" style="display: none;">
    <div class="popup-hdr">
        <div class="pop-left">
            <h3>
                Error !
            </h3>
        </div>
        <div class="pop-right">
            <img width="32" height="32" src="@Url.Content("~/Mcontent/Images/Cancel.png")" class="bClose">
        </div>
        <div class="clearfix">
        </div>
    </div>
    <p>
        @ViewBag.Error
    </p>
    <button class="place-right" id="btnResetSearch">
        Ok
    </button>
</div>

<script type="text/javascript">
    var SearchValidationExpression = '@Html.Raw(PR.ValidationHandler.LoadJsonConfig.GetValidateToken(PR.ValidationHandler.PropertyType.AlphaNumForExTouchSeardh).Pattern)';

    function LoadTouches(val) {

        //Validating Search Text Box
        var regex = new RegExp(SearchValidationExpression);

        if (regex.exec(val)) {

            $.ajax({
                url: '@Url.Action("GetAllTouches", "ExceptionTouch")',
                data: { SearchTerm: val },
                beforeSend: function () {
                    showLoadng();
                },
                success: function (data) {
                    $('#availableTouches').html(data);
                    //document.getElementById('availableTouches').innerHTML = '';
                    //document.getElementById('availableTouches').innerHTML = data;
                },
                error: function (error) {
                },
                complete: function () {
                    hideLoading();
                }
            });
            $('#dvError').hide();
        }
        else {
            $('#dvError').show();

        }
    }

    $(document).ready(function () {
        $('#dvError').hide();

        if ('@ViewBag.Error' != '') {
            $("#dlErrorMsg").bPopup();
            hideLoading();
        }
        else {
            $("#dlErrorMsg").bPopup().close();
        }
    });

    $('#btnResetSearch').click(function () {
        $("#dlErrorMsg").bPopup().close();
    });
</script>
