﻿@model PR.LocalLogisticsSolution.Model.Touch
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}
<div class="page-region">
    <form id="frmExceptionTouch" action="#">
        @Html.AntiForgeryToken()
    </form>
    @if (ViewBag.SlError == null)
    {
        <div class="page-region-content">
            <div class="form-panel">
                <h2>
                    <a href="@Url.Action("Index", "ExceptionTouch")" onclick="return showLoadng();">
                        <span class="element" style="font-size: 110%;">
                            <img src="@Url.Content("~/Mcontent/Images/mobile_home.png")" style="float:left; margin-right:5px; margin-top:-10px; height:200%;" />
                            @Model.TouchTypeDisp to @DriverMobileApp.Models.PR_AddressType.Customer
                            (QORID: @Model.Qorid)
                        </span>
                    </a>
                    <div class="clearfix">
                    </div>
                </h2>
                <div class="clearfix">
                </div>
                <div class="metro-pivot touch-info-page">
                    <div class="pivot-item">
                        <ul class="form-list" style="margin-top: 0%;">
                            <li>
                                <span class="label-form">To</span>
                                <div class="clearfix">
                                </div>
                                <span style="font-size: 100%;" class="value">
                                    @(!string.IsNullOrEmpty(Model.DestAddress.AddressLine1) ? Model.DestAddress.AddressLine1.Trim() + ", " : "")
                                    @(!string.IsNullOrEmpty(Model.DestAddress.AddressLine2.Trim()) ? Model.DestAddress.AddressLine2.Trim() + "," : "")
                                    @(!string.IsNullOrEmpty(Model.DestAddress.City) ? Model.DestAddress.City.Trim() + ", " : "")
                                    @(!string.IsNullOrEmpty(Model.DestAddress.State) ? Model.DestAddress.State.Trim() + ", " : "")
                                    @(!string.IsNullOrEmpty(Convert.ToString(Model.DestAddress.Zip)) ? Model.DestAddress.Zip.Trim() : "")
                                </span>
                                <div class="clearfix">
                                </div>
                                <span style="font-size: 100%; padding: 5px;">
                                    <span class="icon-phone" style="float: left;">
                                    </span>
                                    @Model.PhoneNumber
                                </span>
                                <div class="clearfix">
                                </div>
                            </li>
                            <li>
                                <span class="label-form">QORID</span>
                                <div class="clearfix">
                                </div>
                                <span class="label-value">
                                    <span class="capital">
                                        @Model.Qorid@(Model.IsGrouped ? " (Combined Touch)" : "")
                                    </span>
                                </span>
                            </li>
                            @if (@Model.TouchType != DriverMobileApp.Models.PR_TouchType_Constant.DE)
                            {
                                <li>
                                    <span class="label-form">Container Number </span><span class="label-value">
                                        <span class="capital">
                                            @(String.IsNullOrWhiteSpace(Model.UnitNumber) ? "N/A" : @Model.UnitNumber)
                                        </span>
                                    </span>
                                </li>
                            }
                            <li>
                                <span class="label-form">Touch Type</span>
                                <div class="clearfix">
                                </div>
                                <span class="label-value">
                                    <span class="capital">
                                        @(Model.TouchTypeDisp != @DriverMobileApp.Models.PR_Action_Constant.WS ? @Model.TouchType : @Model.TouchTypeDisp)
                                    </span>
                                    <br />
                                </span>
                            </li>
                            <li>
                                <span class="label-form">Unit Size</span>
                                <div class="clearfix">
                                </div>
                                <span class="label-value">
                                    <span class="capital">@Model.Unitsize&nbsp;ft
                                        @if (Model.IsZippyShellQuote)
                                        { <text> (ZM)</text> }
                                        @*&nbsp;@(Model.IsZippyShellQuote ? "(ZM)" : "")*@
                                    </span>
                                    <br />
                                </span>
                            </li>
                            <li>
                                <span class="label-form">Scheduled Touch Time </span><span class="label-value">
                                    <span class="capital">
                                        @(Model.ScheduledDate.ToShortDateString())&nbsp;
                                        @(Model.StartTime)
                                    </span>
                                    <br />
                                </span>
                            </li>
                            @*<li>
                                    <span class="label-form">Estimated Touch Time </span><span class="label-value">
                                        <span class="capital">
                                            @(Model.ScheduledDate)
                                                - @(Model.ScheduledDate.ToShortTimeString())
                                        </span>
                                        <br />
                                    </span>
                                </li>*@
                            <li>
                                <span class="label-form">Door Position</span>
                                <div class="clearfix">
                                </div>
                                <span class="label-value">
                                    <span class="capital">@(Model.doorposSLupdated ? "Door-to-Rear" : "Door-to-Front")</span>,<br />
                                </span>
                            </li>
                            <li>
                                <span class="label-form">Driveway Type</span>
                                <div class="clearfix">
                                </div>
                                <span class="label-value">
                                    <span class="capital">
                                        @Model.DriveWay
                                    </span>
                                    <br />
                                </span>
                            </li>
                            <li>
                                <span class="label-form">Obstacle</span>
                                <div class="clearfix">
                                </div>
                                <span class="label-value">
                                    @Model.Obstacles

                                </span>
                            </li>
                            @if (Model.TouchType == DriverMobileApp.Models.PR_TouchType_Constant.RF || Model.TouchType == DriverMobileApp.Models.PR_TouchType_Constant.RE)
                            {
                                <li>
                                    <span class="label-form">Status</span>
                                    <div class="clearfix">
                                    </div>
                                    <span class="value">
                                        <table class="bordered form-table">
                                            <tr>
                                                <td>
                                                    Truck is empty
                                                </td>

                                            </tr>
                                        </table>
                                    </span>
                                </li>
                            }
                            else if (Model.TouchType == DriverMobileApp.Models.PR_TouchType_Constant.DF)
                            {
                                <li>
                                    <span class="label-form">Status</span>
                                    <div class="clearfix">
                                    </div>
                                    <span class="value">
                                        <table class="bordered form-table">
                                            <tr>
                                                <td>
                                                    Visually inspected the container
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    Container is locked propertly
                                                </td>

                                            </tr>
                                        </table>
                                    </span>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <span class="label-form">Checklist Items</span>
                                    <div class="clearfix">
                                    </div>
                                    <span class="value">
                                        <table class="bordered form-table">
                                            @*@if (Model.DoorPOS != null)
                                                {
                                                    int _count = 0;
                                                    foreach (var positem in Model.DoorPOS)
                                                    {
                                                        _count = _count + 1;
                                                        <tr>
                                                            <td>
                                                                @positem.ItemDescription
                                                            </td>
                                                            <td>
                                                                @positem.Quantity
                                                            </td>

                                                        </tr>
                                                    }
                                                }*@
                                            <tr>
                                                <td colspan="2">
                                                    Visually inspect container
                                                </td>

                                            </tr>
                                        </table>
                                    </span>
                                </li>
                            }
                            @if ((Model.TouchType == DriverMobileApp.Models.PR_TouchType_Constant.DE) || (Model.TouchType == DriverMobileApp.Models.PR_TouchType_Constant.RF))
                            {
                                <li id="liWeightTicket" style="visibility: visible">
                                    <span class="label-form">
                                        Weight
                                        Ticket
                                    </span>
                                    <div class="clearfix">
                                    </div>
                                    <span class="value">
                                        <table class="bordered form-table">
                                            <tr>
                                                <td>
                                                    @if (Model.TouchType == DriverMobileApp.Models.PR_TouchType_Constant.DE)
                                                    {
                                                        <text>Empty Weight Ticket Required</text>
                                                    }
                                                    else
                                                    {
                                                        <text>Full Weight Ticket Required</text>
                                                    }
                                                </td>

                                            </tr>
                                        </table>
                                    </span>
                                </li>
                            }
                            <li style="text-align: left; width: 100%;">
                                <button id="btnStart" class="image-button bg-color-darken fg-color-white" style="margin: auto;">
                                    Select this touch<img src="@Url.Content("~/Mcontent/Images/Next.png")" class="bg-color-green" />
                                </button>
                                <br />
                                <br />
                            </li>
                            <div class="clearfix">
                            </div>
                        </ul>
                    </div>
                    <div class="pivot-item">
                    </div>
                    <div class="clerfix">
                    </div>
                </div>
                <div class="clerfix">
                </div>
            </div>
        </div>
    }
    else
    {
        <div id="dlgSlError" class="message-dialog  bg-color-blue fg-color-white" style="display: none;">
            <div class="popup-hdr">
                <div class="pop-left">
                    <h3>
                        SiteLink Error !
                    </h3>
                </div>
                <div class="pop-right">
                    <img width="32" height="32" src="@Url.Content("~/Mcontent/Images/Cancel.png")" class="bClose">
                </div>
                <div class="clearfix">
                </div>
            </div>
            <p>
                @ViewBag.SlError
            </p>
            <button class="place-right" id="btnSlErrorClose">
                Logout
            </button>
        </div>
    }
</div>
<div id="dlgStartTouch" class="message-dialog  bg-color-blue fg-color-white" style="display: none;">
    <div class="popup-hdr">
        <div class="pop-left">
            <h3>
                Start this Touch!
            </h3>
        </div>
        <div class="pop-right">
            <img width="32" height="32" src="@Url.Content("~/Mcontent/Images/Next.png")" class="bClose">
        </div>
        <div class="clearfix">
        </div>
    </div>
    <p>
        Are you sure you want to start this touch?
    </p>
    <button class="place-right bClose" id="btnCancelStartTouch">
        Cancel
    </button>
    <button class="place-right" id="btnConfStartTouch">
        Ok
    </button>
</div>
<div id="dlErrorMsgCustMessage" class="message-dialog  bg-color-yellow fg-color-white dlErrorMsgCl" style="display: none;">
    <div class="popup-hdr">
        <div class="pop-left">
            <h3>
                Exception Touch Start Error!
            </h3>
        </div>
        <div class="pop-right">
            <img width="32" height="32" src="@Url.Content("~/Mcontent/Images/Cancel.png")" class="bClose">
        </div>
        <div class="clearfix">
        </div>
    </div>
    <p>
        You can not start this touch because, you are in middle of other touch. Please skip or complete Warehouse access touch and then proceed with this touch.&nbsp;<span id="custErrorMsg"></span>
    </p>
    @*<button class="place-right" id="btnHideErrorMsg">
            Close
        </button>*@
    <button class="place-right" id="btnSkipThisTouch">
        Skip Warehouse Access Stop
    </button>
    <button class="place-right btnRetDashboard">
        Complete WareHouse Access Stop
    </button>
</div>

@Scripts.Render("~/bundles/ExcepTouchInfo")
<script type="text/javascript">
    var URLHelperExecpTouchInfo = {
        postOptimizeTouch: '@Url.Action("OptimizeTouch", "ExceptionTouch")',
        skipCurrentWareHouseTouch: '@Url.Action("SkipCurrentWarehousetouch", "SkipTouch")',       
        redirectToDashBoard: '@Url.Action("Index", "Dashboard")'
    }

    var execpTouchInfoJSVariables = {
        TouchID :'@(Model.TouchId)',
        TouchType: '@(Model.TouchType)',
        QORID: '@(Model.Qorid)',
    }
</script>
