﻿@model DriverMobileApp.Models.BillDetailInfo
@using DriverMobileApp.Helper
@{
    ViewBag.Title = "BillDetail";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}
<link href="@Url.Content("~/Mcontent/Signature/jquery.signaturepad.css")" rel="stylesheet" type="text/css" />
@*<script src="@Url.Content("~/Mcontent/Signature/jquery-1.7.1.js")" type="text/javascript"></script>
*@
<script type="text/javascript" src="@Url.Content("~/Mcontent/Signature/jquery.signaturepad.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Mcontent/Signature/json2.min.js")"></script>
<div class="clearfix">
</div>
<div class="page-region">
    <div class="page-region-content">
        <div class="form-panel">
            <!--header image starts-->
            <h2>
                <a href="@Url.EncryptAction("Index", "InnerDashBoard", new { QORid = @ViewBag.QORid, StopType = @ViewBag.StopType, TouchType = @ViewBag.TouchType, TouchStopId=@ViewBag.TouchStopId })">
                    <img src="@Url.Content("~/Mcontent/Images/Previous.png")" width="48" height="48" style="float: left; margin-right: 10px;" />
                </a>
                <img src="@Url.Content("~/Mcontent/Images/Signature.png")" width="48" height="48" style="float: left; margin-right: 10px;" />
                <div class="h-title">
                    <span style="float: left; font-size: 9pt; text-transform: uppercase;">
                        Bill &nbsp; Detail
                        &nbsp;( QORID - @Request.Cookies["QORid"].Value )
                    </span>
                </div>
                <div class="clearfix">
                </div>
            </h2>
            <div class="clearfix">
            </div>
        </div>
        <div class="clerfix">
        </div>
        <div class="inner-container">
            <ul class="accordion dark" data-role="accordion">
                <li class="active">
                    <a href="#">Pricing Details</a>
                    <div>
                        <table class="bordered">
                            <thead>
                                <tr class="theadstyle">
                                    <th>
                                        Description
                                    </th>
                                    <th class="right">
                                        Amount
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.PricingInfo != null)
                                {
                                    <tr>
                                        <td>
                                            Total Due on Delivery
                                        </td>
                                        <td class="right">
                                            <b>@Model.PricingInfo.DueAtDelivery.ToString("c") </b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Recurring Monthly Charges
                                        </td>
                                        <td class="right">
                                            @Model.PricingInfo.RecurringMonthlyCharge.ToString("c")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Future Transportation Charges
                                        </td>
                                        <td class="right">
                                            @Model.PricingInfo.FutureTransportationCharge.ToString("c")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            &nbsp;
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </li>
                @*            Following part is for displaying Transportation Items *@
                <li>
                    <a href="#">Transportation Items</a>
                    <div>
                        <table class="bordered">
                            <thead>
                                <tr class="theadstyle">
                                    <th>
                                        Item Description
                                    </th>
                                    <th class="right">
                                        Value
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.TransportationItems != null)
                                {
                                    foreach (System.Data.DataRow oDataRow in Model.TransportationItems.Tables[0].Rows)
                                    {

                                        if (oDataRow != null)
                                        {
                                            <tr>
                                                <td>
                                                    <b>Description</b>
                                                </td>
                                                <td class="right">
                                                    <b>@oDataRow["Description"].ToString()</b>
                                                </td>
                                            </tr>
                                            @*                                    <tr>
                                                    <td>
                                                        Charge
                                                    </td>
                                                    <td class="right">
                                                        @Convert.ToDecimal(oDataRow["Charge"]).ToString("c")
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Excess Distance
                                                    </td>
                                                    <td class="right">
                                                        @Convert.ToDecimal(oDataRow["ExcessDistance"]).ToString("c")
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Mileage Charge
                                                    </td>
                                                    <td class="right">
                                                        @Convert.ToDecimal(oDataRow["MileageRate"]).ToString("c")
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Excess Charge
                                                    </td>
                                                    <td class="right">
                                                        @Convert.ToDecimal(oDataRow["ExcessCharge"]).ToString("c")
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Discounts
                                                    </td>
                                                    <td class="right">
                                                        @Convert.ToDecimal(oDataRow["Discounts"]).ToString("c")
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Tax
                                                    </td>
                                                    <td class="right">
                                                        @Convert.ToDecimal(oDataRow["Tax"]).ToString("c")
                                                    </td>
                                                </tr>
                                            *@
                                            <tr>
                                                <td>
                                                    Total
                                                </td>
                                                <td class="right">
                                                    @Convert.ToDecimal(oDataRow["Net"]).ToString("c")
                                                </td>
                                            </tr>
                                        }
                                        <tr>
                                            <td colspan="2">
                                                &nbsp;
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </li>
                @*            Following part is for displaying POSItems Items *@
                <li>
                    <a href="#">POS Items</a>
                    <div>
                        <table class="bordered">
                            <thead>
                                <tr class="theadstyle">
                                    <th>
                                        Item Description
                                    </th>
                                    <th class="right">
                                        Value
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.POSItems != null)
                                {
                                    foreach (System.Data.DataRow oDataRow in Model.POSItems.Tables[0].Rows)
                                    {

                                        if (oDataRow != null)
                                        {
                                            <tr>
                                                <td>
                                                    <b>Description</b>
                                                </td>
                                                <td class="right">
                                                    <b>@oDataRow["ItemDescription"].ToString()</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Quantity
                                                </td>
                                                <td class="right">
                                                    @Convert.ToDecimal(oDataRow["Quantity"]).ToString("c")
                                                </td>
                                            </tr>
                                            @*                                    <tr>
                                                    <td>
                                                        Price
                                                    </td>
                                                    <td class="right">
                                                        @Convert.ToDecimal(oDataRow["Price"]).ToString("c")
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Sub Total
                                                    </td>
                                                    <td class="right">
                                                        @Convert.ToDecimal(oDataRow["SubTotal"]).ToString("c")
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Discounts
                                                    </td>
                                                    <td class="right">
                                                        @Convert.ToDecimal(oDataRow["Discounts"]).ToString("c")
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Tax
                                                    </td>
                                                    <td class="right">
                                                        @Convert.ToDecimal(oDataRow["Tax"]).ToString("c")
                                                    </td>
                                                </tr>
                                            *@
                                            <tr>
                                                <td>
                                                    Total
                                                </td>
                                                <td class="right">
                                                    @Convert.ToDecimal(oDataRow["Total"]).ToString("c")
                                                </td>
                                            </tr>

                                            <tr>
                                                <td colspan="2">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </li>
                @*            Following part is for displaying Unit Info *@
                <li>
                    <a href="#">Unit Information</a>
                    <div>
                        <table class="bordered">
                            <thead>
                                <tr class="theadstyle">
                                    <th>
                                        Item Description
                                    </th>
                                    <th class="right">
                                        Value
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.UnitInfo != null)
                                {
                                    foreach (System.Data.DataRow oDataRow in Model.UnitInfo.Tables[0].Rows)
                                    {

                                        if (oDataRow != null)
                                        {
                                            @*                                    <tr>
                                                    <td>
                                                        <b>Unit ID</b>
                                                    </td>
                                                    <td class="right">
                                                        <b>@oDataRow["UnitID"].ToString()</b>
                                                    </td>
                                                </tr>
                                            *@
                                            <tr>
                                                <td>
                                                    Unit Description
                                                </td>
                                                <td class="right">
                                                    @oDataRow["UnitDescription"].ToString()
                                                </td>
                                            </tr>
                                            @*                                    <tr>
                                                     <td>
                                                         Unit Std Rate
                                                     </td>
                                                     <td class="right">
                                                         @Convert.ToDecimal(oDataRow["UnitStdRate"]).ToString("c")
                                                     </td>
                                                 </tr>
                                                 <tr>
                                                     <td>
                                                         Discounts
                                                     </td>
                                                     <td class="right">
                                                         @Convert.ToDecimal(oDataRow["Discounts"]).ToString("c")
                                                     </td>
                                                 </tr>
                                                 <tr>
                                                     <td>
                                                         Tax
                                                     </td>
                                                     <td class="right">
                                                         @Convert.ToDecimal(oDataRow["Tax"]).ToString("c")
                                                     </td>
                                                 </tr>
                                                <tr>
                                                 <td>
                                                     Total Charge
                                                 </td>
                                                 <td class="right">
                                                     @Convert.ToDecimal(oDataRow["TotalCharge"]).ToString("c")
                                                 </td>
                                                 </tr>
                                            *@
                                            <tr>
                                                <td>
                                                    Unit No
                                                </td>
                                                <td class="right">
                                                    @oDataRow["UnitName"].ToString()
                                                </td>
                                            </tr>


                                            @*                                    <tr>
                                                    <td>
                                                        Unit TypeID
                                                    </td>
                                                    <td class="right">
                                                        @oDataRow["UnitTypeID"].ToString()
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Unit Length
                                                    </td>
                                                    <td class="right">
                                                        @Convert.ToDecimal(oDataRow["UnitLength"]).ToString("c")
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Unit Width
                                                    </td>
                                                    <td class="right">
                                                        @Convert.ToDecimal(oDataRow["UnitWidth"]).ToString("c")
                                                    </td>
                                                </tr>
                                            *@
                                            <tr>
                                                <td colspan="2">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </li>
                @*            Following part is for displaying Recurring Items *@
                <li>
                    <a href="#">Recurring Items</a>
                    <div>
                        <table class="bordered">
                            <thead>
                                <tr class="theadstyle">
                                    <th>
                                        Item Description
                                    </th>
                                    <th class="right">
                                        Value
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.RecurringItems != null)
                                {
                                    foreach (System.Data.DataRow oDataRow in Model.RecurringItems.Tables[0].Rows)
                                    {

                                        if (oDataRow != null)
                                        {
                                            <tr>
                                                <td>
                                                    <b>Description</b>
                                                </td>
                                                <td class="right">
                                                    <b>@oDataRow["ItemDescription"].ToString()</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Quantity
                                                </td>
                                                <td class="right">
                                                    @Convert.ToDecimal(oDataRow["Quantity"]).ToString()
                                                </td>
                                            </tr>
                                            @*                                    <tr>
                                                                                    <td>
                                                                                        Charge
                                                                                    </td>
                                                                                    <td class="right">
                                                                                        @Convert.ToDecimal(oDataRow["Charge"]).ToString("c")
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                                        Sub Total
                                                                                    </td>
                                                                                    <td class="right">
                                                                                        @Convert.ToDecimal(oDataRow["SubTotal"]).ToString("c")
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                                        Discounts
                                                                                    </td>
                                                                                    <td class="right">
                                                                                        @Convert.ToDecimal(oDataRow["Discounts"]).ToString("c")
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                                        Tax
                                                                                    </td>
                                                                                    <td class="right">
                                                                                        @Convert.ToDecimal(oDataRow["Tax"]).ToString("c")
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                <td>
                                                    Total
                                                </td>
                                                <td class="right">
                                                    @Convert.ToDecimal(oDataRow["Total"]).ToString("c")
                                                </td>
                                                                                </tr>
                                            *@
                                            <tr>
                                                <td colspan="2">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </li>
                <li>
                    <a href="#">Customer Signature</a>
                    <div>
                        <table class="bordered">
                            <thead>
                                <tr class="theadstyle">
                                    <th>
                                        Customer Signature
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <!--header image starts-->
                                        <ul class="form-list nomargin-top-bottom">
                                            <li style="width: 100%;">
                                                <span class="label-form">Customer Name</span>
                                                <div class="clearfix">
                                                </div>
                                                <span class="value">
                                                    <div class="input-control text">
                                                        <input type="text" id="CustomerName" value="@ViewBag.CustomerName" />
                                                        <button onclick="CustomerName.value=''; CustomerName.focus();" class="helper" tabindex="-1"
                                                                type="button"></button>
                                                    </div>
                                                    <label class="input-control checkbox">
                                                        <input type="checkbox" id="SameAsPayee" name="SameAsPayee" checked="checked">
                                                        <span class="helper">Same as payee</span>
                                                    </label>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="label-form">Sign here</span>
                                                <div clas="clearfix">
                                                </div>
                                                <span class="value">
                                                    <div class="input-control textarea">
                                                        @*   -----------------------------------------
                                                             Signature pad starts here
                                                            ------------------------------------------
                                                        *@
                                                        <div class="clearfix">
                                                        </div>
                                                        <div class="sigPad">
                                                            <div class="sig12 sigWrapper">
                                                                <div class="typed">
                                                                </div>
                                                                <canvas class="pad" id="Sigpad" width="400" height="125"></canvas>
                                                                <input type="hidden" name="output" class="output">
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <br />
                                                        <input type="submit" id="btnClear" value="Clear" />
                                                        <br />
                                                        @*   -----------------------------------------
                                                             Signature pad ends here
                                                            ------------------------------------------
                                                        *@
                                                    </div>
                                                </span>
                                            </li>
                                            <li id="RemarkArea">
                                                <span class="label-form">Remark</span>
                                                <div clas="clearfix">
                                                </div>
                                                <span class="value">
                                                    <div class="input-control textarea">
                                                        <textarea rows="5" id="Remark"></textarea>
                                                    </div>
                                                </span>
                                            </li>
                                            <div class="clearfix">
                                            </div>
                                        </ul>
                                        <ul class="accordion dark" style="width: 95%; margin-left: 5%;" data-role="accordion">
                                            <li>
                                                <a href="#">I Agree</a>
                                                <div>
                                                    <div style="width: 100%; font-family: Arial; font-size: small; color: GrayText; text-align: justify;">
                                                        @Html.Raw(ViewBag.SigText)
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="button-panel">
                                            <input type="submit" id="saveSignature" name="saveSignature" value="Save">
                                            <input type="submit" id="btnCancel" name="btnCancel" value="Cancel">
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                        <div class="clerfix">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </li>
            </ul>
            <!-- Send Email  -->
            <div>
                <div class="input-control text lft-all" style="width: 68% !important;">
                    <input type="text" id="CustomerEmail" placeholder="" value="@ViewBag.CustomerEmailID" class="with-helper" />
                    <input type="hidden" name="sigValue" id="sigValue" value="False" />
                    <button onclick="CustomerEmail.value=''; CustomerEmail.focus();" class="helper" tabindex="-1"
                            type="button"></button>
                </div>
                <input type="submit" id="btnCustomerEmail" value="Send Email" class="bg-color-green" />
            </div>
        </div>
    </div>
</div>
<div id="emailConfirmation" class="message-dialog bg-color-oliveDark" style="display: none;
    color: #fff;">
    <div class="popup-hdr">
        <div class="pop-left">
            <h3>
                Customer Signature is missing
            </h3>
        </div>
        <div class="pop-right">
            <img width="32" height="32" src="@Url.Content("~/Mcontent/Images/Cancel.png")" class="bClose" />
        </div>
        <div class="clearfix">
        </div>
    </div>
    <p class="pop-para">
        Send Email without Customer Signature?
    </p>
    <div class="clearfix">
    </div>
    <button class="place-right bClose" id="btnYes">
        Yes
    </button>
    <button class="place-right bClose" id="btnNo">
        No
    </button>
</div>

<script type="text/javascript">

    var URLHelperBillDetails = {
        redirectToInnderDashBoard: '@Url.EncryptAction("Index", "InnerDashBoard", new { QORid = @ViewBag.QORid, StopType = @ViewBag.StopType, TouchType = @ViewBag.TouchType, TouchStopId = @ViewBag.TouchStopId })'
    }

    $(document).ready(function () {
        if ('@ViewBag.SigCaptured' == 'True') {
            $("#sigValue").val('True');
        }
        else {
            $("#sigValue").val('False');
        }
        var defaults = {
            animationDuration: 150,
            headerOpacity: 0.5,
            fixedHeaders: true,
            headerSelector: function (item) {
                return item.children("h3").first();
            },
            itemSelector: function (item) {
                return item.children(".pivot-item");
            },
            headerItemTemplate: function () {
                return $("<span class='header' />");
            },
            pivotItemTemplate: function () {
                return $("<div class='pivotItem' />");
            },
            itemsTemplate: function () {
                return $("<div class='items' />");
            },
            headersTemplate: function () {
                return $("<div class='headersHidden' />");
            },
            controlInitialized: undefined,
            selectedItemChanged: undefined
        };
        $("div.metro-pivot").metroPivot(defaults);


        $('#staticDialog').click(function (e) {
            $('#test').bPopup();
        });
        $('#btnStart').click(function (e) {
            $('#posconfirm').bPopup();
        });
        $('#reached-btn').click(function (e) {
            $('#reached-pop').bPopup();
        });
        $('#posconfirm-btn').click(function (e) {
            $('#ready2start').bPopup();
        });
        $("#viewMap").click(function () {
            $("div.metro-pivot").data("controller").goToNext();

        });

        $("#gotoDetails").click(function () {
            $("div.metro-pivot").data("controller").goToItemByName('Details');

        });

        $("#btnconfirm2").click(function () {
            window.location = "destination2.html";
        });


        $("#btnCustomerEmail").click(function () {
            if (EmailValidator()) {
                $.ajax({
                    type: 'post',
                    data: {
                        CustomerEmail: $("#CustomerEmail").val()
                    },
                    url: '@Url.Action("getCustomerEmailID", "BillDetail")',
                    success: function (result) {
                        if (result == "true")
                            alert("Email sent successfully");
                        else {
                            alert("Error on sending Email, check Email ID");
                            hideLoading();
                        }
                        if (result == "true") {
                            showLoadng();
                            window.location = URLHelperBillDetails.redirectToInnderDashBoard;
                            //"/InnerDashBoard?TouchType=" + '@(ViewBag.StopType)' + "&QORid=" + '@(ViewBag.QORid)' + "&StopType=" + '@(ViewBag.StopType)' + "&TouchStopId=" + '@(ViewBag.TouchStopId)';
                        }
                    }

                });

            }
        });
    });

    //Validation for Customer EmailID
    function EmailValidator() {
        if ($.trim($("#CustomerEmail").val()) == "") {
            alert("Customer Email ID is empty");
            return false;
        }
        else {
            //if ('@ViewBag.SigCaptured' == 'True') {
            if ($("#sigValue").val() == 'True') {
                $('#emailConfirmation').bPopup().close();
                return true;
            }
            else {
                $('#emailConfirmation').bPopup();
                return false;
            }
        }
    };

    $("#btnYes").click(function () {
        $.ajax({
            type: 'post',
            data: {
                CustomerEmail: $("#CustomerEmail").val()
            },
            url: '@Url.Action("getCustomerEmailID", "BillDetail")',
            success: function (result) {
                if (result == "true")
                    alert("Email sent successfully");
                else
                    alert("Error on sending Email, check Email ID");
                if (result == "true") {
                    showLoadng();
                    window.location = URLHelperBillDetails.redirectToInnderDashBoard;
                    //"/InnerDashBoard?TouchType=" + '@(ViewBag.StopType)' + "&QORid=" + '@(ViewBag.QORid)' + "&StopType=" + '@(ViewBag.StopType)' + "&TouchStopId=" + '@(ViewBag.TouchStopId)';
                }
            }
        });
    });

    $("#btnYes").click(function () {
        hideLoading();
    });

    $(document).ready(function () {
        $("#RemarkArea").hide();
        $('.sigPad').signaturePad({ drawOnly: true, lineTop: 120 });
        $("#btnClear").click(function () { $("#imgdiv").html(""); $('.sigPad').signaturePad({ drawOnly: true }).clearCanvas(); });
        $("#saveSignature").click(function () {
            if (NameValidator() && SigPadValidator()) {
                $.ajax({
                    type: 'post',
                    data: {
                        json: $(".output").val(),
                        CustomerName: $("#CustomerName").val(),
                        SameAsPayee: $('input:checkbox[name=SameAsPayee]').is(':checked'),
                        Remark: $("#Remark").val()
                    },
                    url: '@Url.Action("GenerateImage", "BillDetail")',
                    success: function (result) {
                        if (result) {
                            $("#sigValue").val('True');
                            alert("Signature captured successfully");
                        }
                    }

                });

            }



        });
    });

    $('#btnCancel').click(function () {
        showLoadng();
        window.location = URLHelperBillDetails.redirectToInnderDashBoard;
        //"/InnerDashBoard?TouchType=" + '@(ViewBag.StopType)' + "&QORid=" + '@(ViewBag.QORid)' + "&StopType=" + '@(ViewBag.StopType)' + "&TouchStopId=" + '@(ViewBag.TouchStopId)';
    });


    $("#SameAsPayee").click(function () {
        if ($("#SameAsPayee").attr("checked") != "checked")
            $("#RemarkArea").show();
        else
            $("#RemarkArea").hide();
    });

    //Validation for signature pad
    function SigPadValidator() {
        if ($(".output").val().length == 0) {
            alert("Signature is empty");
            return false;
        }
        else
            return true;
    };

    //Validation for Customer name
    function NameValidator() {
        if ($.trim($("#CustomerName").val()) == "") {
            alert("Customer name is empty");
            return false;
        }
        else
            return true;
    };

    //Two times there, so commenting this
    @*$('#btnCancel').click(function () {
        showLoadng();
        window.location = URLHelperBillDetails.redirectToInnderDashBoard;
        //"/InnerDashBoard?TouchType=" + '@(ViewBag.StopType)' + "&QORid=" + '@(ViewBag.QORid)' + "&StopType=" + '@(ViewBag.StopType)' + "&TouchStopId=" + '@(ViewBag.TouchStopId)';
    });*@


</script>
