﻿@model DriverMobileApp.Models.ChangeCppInfo
@using DriverMobileApp.Helper
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}
<div class="page-region">
    <div class="page-region-content">
        <div class="form-panel">
            <!--header image starts-->
            <h2>
                <a href="~/dashboard">
                    <img src="@Url.Content("~/Mcontent/Images/Previous.png")" width="48" height="48" style="float: left; margin-right: 10px;" />
                </a>
                <img src="@Url.Content("~/Mcontent/Images/Touch-type.png")" width="48" height="48" style="float: left; margin-right: 10px;" />
                <div class="h-title">
                    <span class="back-arrow"></span><span style="float: left; font-size: 9pt; text-transform: uppercase;">
                        Change POS Items
                    </span>
                    <br />
                    <span style="float: left;">@ViewBag.TouchType (QORID - @ViewBag.QORid) </span>
                </div>
                <div class="clearfix">
                </div>
            </h2>
            <div class="metro-pivot touch-info-page">
                <div class="pivot-item">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "_ChangeCppForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <ul class="form-list" style="margin-top: 0%;">
                            <li>
                                <span class="label-form">Change CPP Level</span> <span class="value">
                                    @if (@ViewBag.TouchType == "DE")
                                    {
                                        @Html.DropDownListFor(m => m.SelectedCpp, Model.CppList)
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(m => m.SelectedCpp, Model.CppList, new { @disabled = "disabled" })
                                    }
                                </span>
                                <div class="clearfix">
                                </div>
                                <span class="label-form">Qty</span> <span class="label-form">Lock</span> <span class="value">
                                    @Html.TextBoxFor(m => m.Lock)
                                    <div id="dvErrorLock" class="error">
                                        <label id="lblError" style="color:red">Please enter digits for lock.</label>
                                    </div>
                                </span>

                                <div class="clearfix">
                                </div>
                                <span class="label-form">Purchased & Rental blankets</span> <span class="value">
                                    @Html.TextBoxFor(m => m.Blankets)
                                    <div id="dvErrorBlankets" class="error">
                                        <label id="lblError" style="color:red">Please enter digits for blankets.</label>
                                    </div>
                                </span>
                                <div class="clearfix">
                                </div>
                                <span class="label-form">Comments</span> <span class="value">
                                    <div class="input-control textarea">
                                        @Html.TextAreaFor(m => m.Comments)
                                    </div>
                                    <div id="dvErrorComments" class="error">
                                        <label id="lblError" style="color:red">Please enter commnets without special characters.</label>
                                    </div>
                                </span>
                                <div class="clearfix">
                                </div>
                                <span class="value">
                                    <div class="input-control textarea">
                                        <input type="button" id="back" name="back" value="Back" />&nbsp;&nbsp;
                                        <input type="button" id="submit" name="submit" value="Submit" />
                                    </div>
                                </span>
                            </li>
                        </ul>
                        <div class="clerfix">
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/ChangeCPP")
<script type="text/javascript">
    var URLHelperChangeCPP = {
        postChangeCPPReq: '@Url.Action("ChangeCppRequest", "ChangeCPP")',
        redirectToTouchComplete: '@Url.EncryptAction("Index", "TouchComplete", new { QORid = @ViewBag.QORid, StopType = @ViewBag.StopType, TouchType = @ViewBag.TouchType, TouchStopId = @ViewBag.TouchStopId })',
    }

    var changeCPPJSVariables = {
        TouchType: '@(ViewBag.TouchType)',
        QORID: '@(ViewBag.QORid)',
        StopType: '@(ViewBag.StopType)',
        TouchStopId: '@(ViewBag.TouchStopId)',
        Pg: '@(ViewBag.Pg)'
    }

    var LocksValidationExpression = '@Html.Raw(PR.ValidationHandler.LoadJsonConfig.GetValidateToken(PR.ValidationHandler.PropertyType.NumericType).Pattern)';
   
</script>
