﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}
<div class="clearfix">
</div>
<div class="page-region">
    <div class="page-region-content">
        <div class="form-panel">
            <!--header image starts-->
            <h2>
                <img src="@Url.Content("~/Mcontent/Images/Touch-type.png")" width="48" height="48" style="float: left; margin-right: 10px;" />
                <div class="h-title">
                    <span style="float: left; font-size: 9pt; text-transform: uppercase;">Touch Type:
                        @ViewBag.TouchType &nbsp;( QORID - @Request.Cookies["QORid"].Value )</span></div>
                <div class="clearfix">
                </div>
            </h2>
            <!--<div class="show-map"><button class="image-button bg-color-grayDark fg-color-white">Show route map<img src="Images/map2.png" class="bg-color-blue"></button></div>-->
            <div class="clearfix">
            </div>
            <!--header image ends-->
            <!--pivot item starts -->
            <div id="ShowRoutes">
                Show Routes
            </div>
            <div id="directionsPanel" style="font-size: 10px; font-family: Arial Narrow; float: left;">
            </div>
            <div class="metro-pivot touch-info-page">
                <div class="pivot-item">
                    <div class="map-panel">
                        <div class="clearfix">
                        </div>
                        <div id="map_canvas" style="float: right; width: 100%; height: 100%;">
                        </div>
                    </div>
                    <input type="hidden" id="Latitude" value="@ViewBag.Latitude" />
                    <input type="hidden" id="Longitude" value="@ViewBag.Longitude" />
                    <input type="hidden" id="ToAddress" value="@ViewBag.ToAddress" />
                </div>
            </div>
            <div class="clerfix">
            </div>
            <div class="clerfix">
            </div>
        </div>
        <div class="app-bar padding30">
            <div class="button-panel">
                @if (ViewBag.TouchInfoLog.ReachedDestination)
                {
                    <input type="submit" value="Next" onclick="window.location = '/InnerDashBoard';" />
                }
                else
                { 
                    <input type="submit" value="I've reached the destination" id="reached-btn" />
                }
            </div>
        </div>
    </div>
</div>
<div id="reached-pop" class="message-dialog bg-color-oliveDark" style="display: none;
    color: #fff;">
    <div class="popup-hdr">
        <div class="pop-left">
            <h3>
                Reached the destination</h3>
        </div>
        <div class="pop-right">
            <img width="32" height="32" src="@Url.Content("~/Mcontent/Images/Cancel.png")" class="bClose"></div>
        <div class="clearfix">
        </div>
    </div>
    <p class="pop-para">
        Reached destination?</p>
    <div class="clearfix">
    </div>
    <button class="place-right bClose" id="btnconfirm2">
        Confirm</button>
    <button class="place-right bClose">
        Cancel</button>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //        $('#reached-btn').click(function (e) {
        //            $('#reached-pop').bPopup();
        //        });
        $("#reached-btn").click(function () {
            $.ajax({
                url: "Map/ReachedDestination",
                type: 'POST',
                beforeSend: function () {
                    showLoadng();
                },
                success: function (result) {
                    // process the results from the controller action
                    if (result == "true") {
                        window.location = "/InnerDashBoard";
                    }
                },
                complete: function () {
                    hideLoading();
                }
            });
        });

        loadScript();
        slideToggle();
    });

    var directionDisplay;
    var directionsService;
    var map;
    var infoWindow;

    function initialize() {
        directionsService = new google.maps.DirectionsService();
        directionsDisplay = new google.maps.DirectionsRenderer();

        var varStartingLat = $('#Latitude').val();
        var varStartingLong = $('#Longitude').val();
        var varStartingZoom = 5;
        var myLatlng = new google.maps.LatLng(varStartingLat, varStartingLong);

        var myOptions = {
            disableDoubleClickZoom: true,
            zoom: varStartingZoom,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }

        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

        directionsDisplay.setMap(map);
        directionsDisplay.setPanel(document.getElementById("directionsPanel"));

        calcRoute();
    }

    function calcRoute() {
        var start = new google.maps.LatLng($('#Latitude').val(), $('#Longitude').val());
        var end = $('#ToAddress').val();

        var request = {
            origin: start,
            destination: end,
            durationInTraffic: true,
            provideRouteAlternatives: true,
            travelMode: google.maps.DirectionsTravelMode.DRIVING
        };

        directionsService.route(request, function (response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections(response);
            }
        });
    }

    function loadScript() {
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initialize";
        document.body.appendChild(script);
    }

    function slideToggle() {
        $("#ShowRoutes").click(function () {
            $("#directionsPanel").slideToggle("slow");
        });
    }

    function mapToggle() {
        $("#ShowRoutes").click(function () {
            $("#directionsPanel").slideToggle("slow");
        });
    }


</script>
<style type="text/css">
    #directionsPanel, #ShowRoutes
    {
        padding: 5px;
        text-align: center;
        background-color: #e5eecc;
        border: solid 1px #c3c3c3;
    }
    #directionsPanel
    {
        padding: 50px;
        display: none;
    }
</style>
