﻿@model DriverMobileApp.Models.SkipTouchInfo
@using DriverMobileApp.Helper
@{
    ViewBag.Title = "Skip Touch";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}
<div class="page-region">
    <div class="page-region-content">
        <div class="form-panel">
            <h2>
                <a href="@Url.EncryptAction("Index", "InnerDashBoard", new { QORid = @ViewBag.QORid, StopType = @ViewBag.StopType, TouchType = @ViewBag.TouchType, TouchStopId=@ViewBag.TouchStopId })">
                    <img src="@Url.Content("~/Mcontent/Images/Previous.png")" width="48" height="48" style="float: left; margin-right: 10px;" />
                </a>
                <img src="@Url.Content("~/Mcontent/Images/Touch-type.png")" width="48" height="48" style="float: left; margin-right: 10px;" />
                <div class="h-title">
                    <span class="back-arrow"></span><span style="float: left; font-size: 9pt; text-transform: uppercase;">
                        Skip Touch:
                    </span>
                    <br />
                    <span style="float: left;">@ViewBag.TouchType (QORID - @ViewBag.QORid) </span>
                </div>
                <div class="clearfix">
                </div>
            </h2>
            <div class="metro-pivot touch-info-page">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__SkipForm" }))
                {
                    @Html.AntiForgeryToken()

                    <div id="OptMainReason" class="pivot-item">
                        <div class="pivot-item">
                            <ul class="form-list" style="margin-top: 0%;">
                                <li>
                                    <span class="label-form">Reason</span>
                                    <div class="clearfix">
                                    </div>
                                    <span class="value">
                                        <div class="input-control span3">
                                            @Html.DropDownListFor(m => m.mainReasonType, Model.mainReasonType)
                                        </div>
                                    </span>
                                </li>
                            </ul>
                            <div class="clearfix">
                            </div>
                        </div>
                    </div>
                    <div id="OptWcontainer" class="pivot-item">
                        <div class="pivot-item">
                            <ul class="form-list" style="margin-top: 0%;">
                                <li>
                                    <span class="label-form">Wrong Container</span><br />
                                    <div class="clearfix">
                                    </div>
                                    <span class="value">
                                        <div class="input-control span3">
                                            Did you pick up a container
                                        </div>
                                    </span>
                                    <br />
                                    <span class="value">
                                        @Html.RadioButtonFor(m => m.wContainer, true, new { id = "wContainer_true" })<label for="wContainer_true">Yes</label>
                                    </span> <span class="value">
                                        @Html.RadioButtonFor(m => m.wContainer, false, new { id = "wContainer_false" })<label for="wContainer_false">No</label>
                                    </span>
                                    <div class="clearfix">
                                    </div>
                                    <span class="value">
                                        <label for="containerNo">
                                            Enter Container Number
                                        </label><br />
                                        <div class="input-control text lft-all" style="width: 48% !important;">
                                            @Html.TextBoxFor(m => m.containerNo)
                                        </div>
                                        <div id="dvErrorcontainerNo" class="error">
                                            <label id="lblError" style="color:red">Please enter container number.</label>
                                        </div>
                                        <br />
                                    </span>
                                    <div class="clearfix">
                                    </div>
                                    <span class="value">
                                        <label for="containerNo">
                                            Re-enter Container Number
                                        </label><br />
                                        <div class="input-control text lft-all" style="width: 48% !important;">
                                            <input type="text" id="ReEnterContainerNo" />
                                        </div>
                                        <br />
                                    </span>
                                </li>
                            </ul>
                            <div class="clearfix">
                            </div>
                        </div>
                        <div class="clearfix">
                        </div>
                    </div>
                    <div id="CNotAccessible" class="pivot-item">
                        <div class="pivot-item">
                            <ul class="form-list" style="margin-top: 0%;">
                                <li>
                                    <span class="label-form">Container Not Accessible</span>
                                    <div class="clearfix">
                                    </div>
                                    <span class="value">
                                        <div class="input-control span3">
                                            @Html.DropDownListFor(m => m.cNotAccessible, Model.cNotAccessible)
                                        </div>
                                    </span>
                                    <div class="clearfix">
                                    </div>
                                    <div id="cWasBlocked">
                                        <span class="value">
                                            <div class="input-control span3">
                                                @Html.CheckBoxFor(m => m.byVehicle)&nbsp;<label for="byVehicle">By Vehicle</label>
                                            </div>
                                        </span><span class="value">
                                            <div class="input-control span3">
                                                @Html.CheckBoxFor(m => m.other, new { id = "other1" })&nbsp;<label for="byVehicle">Other</label>
                                            </div>
                                        </span>
                                    </div>
                                    <div id="uToAppContainer">
                                        <span class="value">
                                            <div class="input-control span3">
                                                @Html.CheckBoxFor(m => m.rain)&nbsp;<label for="byVehicle">Rain</label>
                                            </div>
                                        </span><span class="value">
                                            <div class="input-control span3">
                                                @Html.CheckBoxFor(m => m.mud)&nbsp;<label for="byVehicle">Mud</label>
                                            </div>
                                        </span><span class="value">
                                            <div class="input-control span3">
                                                @Html.CheckBoxFor(m => m.snow)&nbsp;<label for="byVehicle">Snow</label>
                                            </div>
                                        </span><span class="value">
                                            <div class="input-control span3">
                                                @Html.CheckBoxFor(m => m.other, new { id = "other2" })&nbsp;<label for="byVehicle">Other</label>
                                            </div>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                            <div class="clearfix">
                            </div>
                        </div>
                    </div>
                    <div id="CustNotReady" class="pivot-item">
                        <div class="pivot-item">
                            <ul class="form-list" style="margin-top: 0%;">
                                <li>
                                    <span class="label-form">Customer Not Ready</span>
                                    <div class="clearfix">
                                    </div>
                                    <br />
                                    <span class="value">
                                        <div class="input-control span3">
                                            @Html.CheckBoxFor(m => m.byCustRequest)&nbsp;<label for="byCustRequest">
                                                By customer
                                                request
                                            </label>
                                        </div>
                                    </span>
                                    <div class="clearfix">
                                    </div>
                                    <span class="value" id="spnCustRequest" style="display: none;">
                                        <div class="input-control span3">
                                            @Html.DropDownListFor(m => m.custRequest, Model.custRequest)
                                        </div>
                                    </span>
                                    <div class="clearfix">
                                    </div>
                                    <span class="value">
                                        <div class="input-control span3">
                                            @Html.CheckBoxFor(m => m.containerLocked)&nbsp;<label for="containerLocked">Lock Issue</label>
                                        </div>
                                    </span>
                                </li>
                            </ul>
                            <div class="clearfix">
                            </div>
                        </div>
                    </div>
                    <div id="COverWeight" class="pivot-item">
                        <div class="pivot-item">
                            <ul class="form-list" style="margin-top: 0%;">
                                <li>
                                    <span class="label-form">Enter weight</span>
                                    <div class="clearfix">
                                    </div>
                                    <span class="value">
                                        <div class="input-control span3">
                                            @Html.DropDownListFor(m => m.cOverWeight, Model.cOverWeight, new { style = "width:140px;" })&nbsp;<label for="cOverWeight">Lbs</label>
                                        </div>
                                    </span>
                                </li>
                            </ul>
                            <div class="clearfix">
                            </div>
                        </div>
                    </div>
                    <div id="CantReachCust" class="pivot-item">
                        <div class="pivot-item">
                            <ul class="form-list" style="margin-top: 0%;">
                                <li></li>
                            </ul>
                            <div class="clearfix">
                            </div>
                        </div>
                    </div>
                    <div id="Other" class="pivot-item">
                        <div class="pivot-item">
                            <ul class="form-list" style="margin-top: 0%;">
                                <li></li>
                            </ul>
                            <div class="clearfix">
                            </div>
                        </div>
                    </div>
                    <ul class="form-list" style="margin-top: 0%;">
                        <li id="liComments">
                            <span class="label-form">Comments</span>
                            <div class="clearfix">
                            </div>
                            <span class="value">
                                <div class="input-control textarea">
                                    @Html.TextAreaFor(m => m.comments)
                                </div>
                                <div id="dvErrorComments" class="error">
                                    <label id="lblError" style="color:red">Please enter comments without special characters.</label>
                                </div>
                            </span>
                            <input type="button" id="submit" name="submit" value="Submit" />
                        </li>
                        <li>
                            <input type="button" id="back" name="back" value="Back" />&nbsp;&nbsp;
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/SkipTouch")
<script type="text/javascript">
    var URLHelperSkipTouch = {
        getWrongContainer: '@Url.Action("WrongContainer", "SkipTouch")',
        getContainerNotAccess: '@Url.Action("ContainerNotAccessible", "SkipTouch")',
        getCustNotReady: '@Url.Action("CustNotReady", "SkipTouch")',
        getContainerOverWeight: '@Url.Action("ContainerOverWeight", "SkipTouch")',
        getCouldNotReachCustomer: '@Url.Action("CouldNotReachCustomer", "SkipTouch")',
        getOtherReason: '@Url.Action("OtherReason", "SkipTouch")',
        redirectToDashBoard: '@Url.Action("Index", "Dashboard")',
        redirectToInnderDashBoard: '@Url.EncryptAction("Index", "InnerDashBoard", new { QORid = @ViewBag.QORid, StopType = @ViewBag.StopType, TouchType = @ViewBag.TouchType, TouchStopId = @ViewBag.TouchStopId })',
        redirectToExceptionTouch: '@Url.EncryptAction("TouchInfo", "ExceptionTouch", new { QORid = @ViewBag.QORid, StopType = @ViewBag.StopType })',
        redirectToTouchInfo: '@Url.EncryptAction("Index", "TouchInfo", new { TouchType = @ViewBag.TouchType, QORid = @ViewBag.QORid, StopType = @ViewBag.StopType })'
    }

    var skipTouchJSVariables = {
        TouchType: '@(ViewBag.TouchType)',
        QORID: '@(ViewBag.QORid)',
        StopType: '@(ViewBag.StopType)',
        TouchStopId: '@(ViewBag.TouchStopId)',
        Pg: '@(ViewBag.Pg)'
    }

    var ValidationExpression = '@Html.Raw(PR.ValidationHandler.LoadJsonConfig.GetValidateToken(PR.ValidationHandler.PropertyType.AlphaNumeric).Pattern)';
</script>