﻿@model DriverMobileApp.Models.UserLogin
@{
    ViewBag.Title = "1-800-PACK-RAT Driver Application";
}
<div class="page">
    <div class="page-header">
        <div class="page-header-content">
            <div>
                <div class="login-logo">
                    <img src="@Url.Content("~/Mcontent/Images/packratlogobluenew.png")" width="309" height="87" class="logo" />
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { onsubmit = "return computClientDateTime();", autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("localDateTime", DateTime.Now)
        <div class="login-panel">
            <div style="text-align: right; color: White; font-size: smaller;">                
                Version : v @DriverMobileApp.Helper.Utility.AppVersion&nbsp;
            </div>
            <div class="loginbox">
                <h1>
                    Driver Login
                </h1>
                @*<a href="@Url.EncodeAction("Test", "DashBoard", new { id = 123, name = "vvvppp" })" >TEST</a>
                    @Html.EncodedActionLink("Download Invoice", "Test", "DashBoard", new { id = 123, name="vvvppp" }, null)*@
                <ul class="loign-list">
                    <li>
                        <div class="input-control text">
                            @Html.TextBoxFor(model => model.UserName, new { placeholder = "Login", autocomplete = "off" })
                            <div style="color: White;">
                                @Html.ValidationMessageFor(Model => Model.UserName)
                            </div>
                            <button onclick="UserName.value=''; LoginName.focus();" class="helper" tabindex="-1"
                                    type="button"></button>
                        </div>
                    </li>
                    <li>
                        <div class="input-control text">
                            @Html.PasswordFor(model => model.Password, new { placeholder = "Password", autocomplete = "off" })
                            <div style="color: White;">
                                @Html.ValidationMessageFor(Model => Model.Password)
                            </div>
                            <button onclick="Password.value=''; Password.focus();" class="helper" tabindex="-1"
                                    type="button"></button>
                        </div>
                    </li>
                    @*                    <li>
                            <label class="input-control checkbox">
                                <input type="checkbox">
                                <span class="helper" style="color: #fff; font-size: 10pt;">remember me</span>
                            </label>
                        </li>
                    *@
                    <br />
                    <li>
                        <span>
                            <input type="submit" class="bg-color-orange-new" id="LoginSubmit" value="Sign In"
                                   onclick="return showLoadng();" />
                        </span>
                        <br />
                        @if (ViewBag.Error != null)
                        {
                    <div style="color: White;">
                        @ViewBag.Error
                    </div>
                        }
                    </li>
                </ul>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var todayDate = new Date();
        $("#localDateTime").val(todayDate.toLocaleString());
    });

    function computClientDateTime() {
        var todayDate = new Date();
        $("#localDateTime").val(todayDate.toLocaleString());
    }
</script>