﻿@model DriverMobileApp.Models.AlertInfo
@{
    ViewBag.Title = "Send Alert";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}
<div class="page-region">
    <div class="page-region-content">
        <div class="form-panel">
            <h2>
                <img src="@Url.Content("~/Mcontent/Images/Touch-type.png")" width="48" height="48" style="float: left; margin-right: 10px;" />
                <div class="h-title">
                    <span style="float: left; font-size: 9pt; text-transform: uppercase;">Driver Alert:</span><br />
                    <span style="float: left;">Alert</span>
                </div>
                <div class="clearfix">
                </div>
            </h2>
            <div class="clearfix">
            </div>
            @using (Html.BeginForm("SaveAlertInfo", "Alert", FormMethod.Post, new { Id = "AlertInfo", onclick = "return false;" }))
            {
                <div class="metro-pivot touch-info-page">
                    <div class="pivot-item">
                        <ul class="form-list" style="margin-top: 0%;">
                            <li>
                                <span class="label-form">Type</span>
                                <div clas="clearfix">
                                </div>
                                <span class="value">
                                    <div class="input-control span2">
                                        @Html.DropDownListFor(model => model.MessageType, Model.MessageType, new { @disabled = "disabled" })
                                    </div>
                                </span>
                            </li>
                            <li>
                                <span class="label-form">Message Priority</span>
                                <div clas="clearfix">
                                </div>
                                <span class="value">
                                    <div class="input-control span2">
                                        @Html.DropDownListFor(model => model.MessagePriority, Model.MessagePriority)
                                    </div>
                                </span>
                            </li>
                            <li>
                                <span class="label-form">Message</span>
                                <div clas="clearfix">
                                </div>
                                <span class="value">
                                    <div class="input-control textarea">
                                        <textarea name="message" id="txtMessage"></textarea>
                                    </div>
                                </span>
                            </li>
                        </ul>
                        <div class="clearfix">
                        </div>
                    </div>
                    <div class="button-panel">
                        <input type="submit" id="saveAlert" name="saveAlert" value="Save">
                        <input type="submit" id="cancelAlert" value="Cancel">
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
            }
            <div class="clerfix">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#saveAlert").click(function () {
        if ($.trim($('#txtMessage').val()).length <= 0) {
            alert('Please enter alert message and then send.');
            return false;
        }

        $.ajax({
            url: "Alert/SaveAlertInfo",
            type: 'POST',
            data: $('#AlertInfo').serialize(),
            beforeSend: function () {
                showLoadng();
            },
            success: function (result) {
                // process the results from the controller action
                if (result == "True") {
                    alert('Your message has been sent successfully.');
                    window.location = "/Dashboard";
                }
            },
            complete: function () {
                hideLoading();
            }
        });

        return false;
    });

    $("#cancelAlert").click(function () {
        showLoadng();
        window.location = "/Dashboard";
        return false;
    });
</script>
