﻿@using DriverMobileApp.Helper
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}
<div class="clearfix">
</div>
<div class="page-region">
    <div class="page-region-content">
        <div class="metro-pivot">
            <div class="pivot-item">
                <div class="tile-group">
                    @{
                        if (ViewBag.TouchType == "DE-Deliver Empty")
                        {

                            <div class="tile bg-color-blue">
                                <a href="@Url.Action("Index", "PaymentInfo")" onclick="return showLoadng();">
                                    <div class="tile-content">
                                        <h2>
                                            Add Card Info
                                        </h2>
                                        <h4></h4>
                                        <div class="icon-bottom-right">
                                            <img src="@Url.Content("~/Mcontent/Images/addcard.png")" width="36" height="36" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                    @* Hiding Get Customer Signature as it is no more needed

                        <div class="tile bg-color-pink" style="display: none;">
                             <a href="@Url.Action("Index", "Signature", new { })"  onclick="return showLoadng();">
                                 <div class="tile-content">
                                     <h2>
                                         Get Customer Signature
                                     </h2>
                                     <h4>
                                     </h4>
                                     <div class="icon-bottom-right">
                                         <img src="@Url.Content("~/Mcontent/Images/get-signature.png")" width="36" height="36" />
                                     </div>
                                 </div>
                             </a>
                         </div>
                    *@
                    @*<div class="tile bg-color-blue">
                            <a href="@Url.Action("Index", "BillDetail", new { QORid = @ViewBag.QORid, StopType = @ViewBag.StopType, TouchType = @ViewBag.TouchType, TouchStopId = @ViewBag.TouchStopId })"  onclick="return showLoadng();">
                                <div class="tile-content">
                                    <h2>
                                        Customer Signature / Billing Details
                                    </h2>
                                    <h4>
                                    </h4>
                                    <div class="icon-bottom-right">
                                        <img src="@Url.Content("~/Mcontent/Images/get-signature.png")" width="36" height="36" />
                                    </div>
                                </div>
                            </a>
                        </div>*@
                    @*                    Following div is for Capture image. This functionility will be developed in next phase
                             <div class="tile bg-color-red2">
                            <a href="#">
                                <div class="tile-content">
                                    <h2>
                                        Capture Image
                                    </h2>
                                    <h4>
                                    </h4>
                                    <div class="icon-bottom-right">
                                        <img src="@Url.Content("~/Mcontent/Images/capture.png")" width="36" height="36" />
                                    </div>
                                </div>
                            </a>
                        </div>*@
                    <div class="tile bg-color-red">
                        <a href="@Url.EncryptAction("Index", "TouchComplete", new { QORid = @ViewBag.QORid, StopType = @ViewBag.StopType, TouchType = @ViewBag.TouchType, TouchStopId = @ViewBag.TouchStopId })" onclick="return showLoadng();">
                            <div class="tile-content">
                                <h2>
                                    Complete this Touch
                                </h2>
                                <h4></h4>
                                <div class="icon-bottom-right">
                                    <img src="@Url.Content("~/Mcontent/Images/complete-touch.png")" width="36" height="36" />
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="tile bg-color-green">
                        <a href="@Url.EncryptAction("Index", "SkipTouch", new {TouchType = @ViewBag.TouchType, QORid = @ViewBag.QORid, StopType = @ViewBag.StopType,  TouchStopId = @ViewBag.TouchStopId, pg = "id" })" onclick="return showLoadng();">
                            <div class="tile-content">
                                <h2>
                                    Skip this Touch
                                </h2>
                                <h4></h4>
                                <div class="icon-bottom-right">
                                    <img src="@Url.Content("~/Mcontent/Images/card.png")" width="36" height="36" />
                                </div>
                            </div>
                        </a>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
