﻿@model DriverMobileApp.Models.DriverTouchInfo
@using DriverMobileApp.Helper
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<div class="page-region">
    <form id="frmCustAddress" action="#">
        @Html.AntiForgeryToken()
    </form>
    <div class="page-region-content">
        @if (Model.DriverTouch.DestinationAddress.AddressType != DriverMobileApp.Models.PR_AddressType.AddressType.Warehouse)
        {
            <div class="form-panel">
                <h2>
                    <img src="@Url.Content("~/Mcontent/Images/Touch-type.png")" width="48" height="48" style="float: left; margin-right: 10px;" />
                    <div class="h-title">
                        <span style="float: left; font-size: 9pt; text-transform: uppercase; vertical-align: middle;">
                            @Model.DriverTouch.TouchType to @DriverMobileApp.Models.PR_AddressType.Customer
                            (QORID: @Model.DriverTouch.QORID)
                        </span>
                    </div>
                    <div class="clearfix">
                    </div>
                </h2>
                <div class="clearfix">
                </div>
                <div class="metro-pivot touch-info-page">
                    <div class="pivot-item">
                        <ul class="form-list" style="margin-top: 0%;">
                            <li>
                                <span class="label-form">To</span>
                                <div class="clearfix">
                                </div>
                                <span class="user-name">
                                    @(Model.SiteLinkCustomerInfo.FirstName)<text> </text>@(Model.SiteLinkCustomerInfo.LName)
                                    <br />
                                </span><span id="ToAddress">
                                    <span id="ToAddressVal" style="font-size: 100%;" class="value">
                                        @(!string.IsNullOrEmpty(Model.DriverTouch.DestinationAddress.AddressLine1) ? Model.DriverTouch.DestinationAddress.AddressLine1.Trim() + ", " : "")
                                        @(!string.IsNullOrEmpty(Model.DriverTouch.DestinationAddress.AddressLine2.Trim()) ? Model.DriverTouch.DestinationAddress.AddressLine2.Trim() + "," : "")
                                        @(!string.IsNullOrEmpty(Model.DriverTouch.DestinationAddress.City) ? Model.DriverTouch.DestinationAddress.City.Trim() + ", " : "")
                                        @(!string.IsNullOrEmpty(Model.DriverTouch.DestinationAddress.State) ? Model.DriverTouch.DestinationAddress.State.Trim() + ", " : "")
                                        @(!string.IsNullOrEmpty(Convert.ToString(Model.DriverTouch.DestinationAddress.Zip)) ? Model.DriverTouch.DestinationAddress.Zip.Trim() : "")
                                    </span>
                                    <div class="clearfix">
                                    </div>
                                    <span style="font-size: 100%; padding: 5px;">
                                        <span class="icon-phone" style="float: left;">
                                        </span>@*@Model.DriverTouch.DestinationAddress.PhoneNumber@(!string.IsNullOrEmpty(Model.DriverTouch.DestinationAddress.PhoneNumber) && !string.IsNullOrEmpty(Model.DriverTouch.DestinationAddress.MobilePhoneNumber) ? "/ " : "")@Model.DriverTouch.DestinationAddress.MobilePhoneNumber*@
                                        @*@string.Format("{0:(###) ###-####}", Convert.ToInt64(Model.DriverTouch.DestinationAddress.PhoneNumber))*@
                                        @Model.DriverTouch.DestinationAddress.PhoneNumber
                                    </span>
                                </span>
                                <div class="clearfix">
                                </div>
                            </li>
                            <li>
                                <span class="label-form">QORID</span>
                                <div class="clearfix">
                                </div>
                                <span class="label-value">
                                    <span class="capital">
                                        @Model.DriverTouch.QORID @(Model.DriverTouch != null && Model.DriverTouch.IsCombinedTouch ? "(Combined Touch)" : "")
                                        @(Model.DriverTouch != null && Model.DriverTouch.IsTrailerNeeded ? ", Trailer required" : "")
                                    </span>
                                </span>
                            </li>
                            @if (Model.DriverTouch.TouchType != DriverMobileApp.Models.PR_TouchType_Constant.DE)
                            {
                                <li>
                                    <span class="label-form">Container Number </span><span class="label-value">
                                        <span class="capital">
                                            @(String.IsNullOrWhiteSpace(Model.DriverTouch.ContainerNumber) ? "N/A" : @Model.DriverTouch.ContainerNumber)
                                        </span>
                                    </span>
                                </li>
                            }
                            <li>
                                <span class="label-form">Touch Type</span>
                                <div clas="clearfix">
                                </div>
                                <span class="label-value">
                                    <span class="capital">
                                        @(Model.DriverTouch.StopType != @DriverMobileApp.Models.PR_Action_Constant.WS
                                      ? @Model.DriverTouch.TouchType + " " + @Model.DriverTouch.StopType : @Model.DriverTouch.TransiteTouchType)
                                    </span>
                                    <br />
                                </span>
                            </li>
                            <li>
                                <span class="label-form">Unit</span>
                                <div clas="clearfix">
                                </div>
                                <span class="label-value">
                                    <span class="capital">@Model.TouchData.UnitLength&nbsp;ft</span>
                                    @if (Model.DriverTouch.IsZippyShellMove)
                                    { <text> (ZM)</text> }
                                    <br />
                                </span>
                            </li>
                            <li>
                                <span class="label-form">Scheduled Touch Time </span><span class="label-value">
                                    <span class="capital">
                                        @(Model.DriverTouch.ScheduledStartTime)
                                        - @(Model.DriverTouch.ScheduledEndTime)
                                    </span>
                                    <br />
                                </span>
                            </li>
                            <li>
                                <span class="label-form">Estimated Touch Time </span><span class="label-value">
                                    <span class="capital">
                                        @(Model.DriverTouch.EstimatedStartTime)
                                        - @(Model.DriverTouch.EstimatedEndTime)
                                    </span>
                                    <br />
                                </span>
                            </li>
                            <li>
                                <span class="label-form">Door Position</span>
                                <div clas="clearfix">
                                </div>
                                <span class="label-value">
                                    <span class="capital">@(Model.TouchData.DoorFacesRear ? "Door-to-Rear" : "Door-to-Front")</span>,<br />
                                </span>
                            </li>
                            <li>
                                <span class="label-form">Driveway Type</span>
                                <div clas="clearfix">
                                </div>
                                <span class="label-value">
                                    <span class="capital">
                                        @((Model.TouchData.Drivewaytype_Bricked) ? "Bricked, " : "")
                                        @((Model.TouchData.Drivewaytype_Curbed) ? "Curbed, " : "")
                                        @((Model.TouchData.Drivewaytype_Dirt) ? "Dirt, " : "")
                                        @((Model.TouchData.Drivewaytype_Sloped) ? "Sloped, " : "")
                                        @((Model.TouchData.Drivewaytype_Soft) ? "Soft, " : "")
                                        @((Model.TouchData.Drivewaytype_Grvel) ? "Grvel, " : "")
                                        @((Model.TouchData.Drivewaytype_Paved) ? "Paved, " : "")
                                        @((Model.TouchData.Drivewaytype_Other) ? "Other" : "")
                                    </span>
                                    <br />
                                </span>
                            </li>
                            <li>
                                <span class="label-form">Obstacle</span>
                                <div class="clearfix">
                                </div>
                                <span class="label-value">
                                    <span class="capital">
                                        @((Model.TouchData.Obstacle_Landscaping) ? "Landscaping, " : "")
                                        @((Model.TouchData.Obstacle_PowerLines) ? "PowerLines, " : "")
                                        @((Model.TouchData.Obstacle_Fences) ? "Fences, " : "")
                                        @((Model.TouchData.Obstacle_Trees) ? "Trees, " : "")
                                        @((Model.TouchData.Obstacle_Sprinklers) ? "Sprinklers, " : "")
                                        @((Model.TouchData.Obstacle_Septic) ? "Septic, " : "")
                                        @((Model.TouchData.Obstacle_Other) ? "Other, " : "")
                                    </span>
                                </span>
                            </li>
                            @if (!String.IsNullOrEmpty(Model.TouchData.Directions))
                            {
                                <li>
                                    <span class="label-form">Direction</span>
                                    <div class="clearfix">
                                    </div>
                                    <span class="label-value">
                                        <span class="capital">
                                            @Model.TouchData.Directions.ToString().Trim()
                                        </span>
                                    </span>
                                </li>
                            }
                            @if (!String.IsNullOrEmpty(Model.TouchData.Instructions))
                            {
                                <li>
                                    <span class="label-form">Instruction</span>
                                    <div class="clearfix">
                                    </div>
                                    <span class="label-value">
                                        <span class="capital">
                                            @Model.TouchData.Instructions.ToString().Trim()
                                        </span>
                                    </span>
                                </li>
                            }

                            @*                        // Marked for remove --------------------------------------------------------------
                                <li style="text-align: center; width: 100%;">
                                    @if (ViewBag.TouchInfoLog.VerifiedTouchInfo_ReadyToStart)
                                    {
                                        <button id="gotoNextPage" class="image-button bg-color-darken fg-color-white" style="margin: auto;">
                                            Show Map<img src="@Url.Content("~/Mcontent/Images/Next.png")" class="bg-color-green"/></button>
                                    }
                                </li>
                                // Marked for remove --------------------------------------------------------------
                            *@
                            <li style="text-align: center; width: 100%;">
                                <div class="button-panel">
                                    @if (ViewBag.TouchInfoLog.ReachedDestination)
                                    {
                                        //<input type="submit" value="Next" onclick="window.location = '/InnerDashBoard';" />
                                        <input type="submit" value="Next" id="Next" />

                                    }
                                    else
                                    {
                                        <input type="submit" value="I've reached the destination" id="reached-btn" />
                                    }
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="pivot-item">
                </div>
                <div class="clerfix">
                </div>
            </div>
        }
        else
        {
            <div id="dlRetDashboard" class="message-dialog  bg-color-green fg-color-white" style="display: none;">
                <div class="popup-hdr">
                    <div class="pop-left">
                        <h3>
                            Touch Complete !
                        </h3>
                    </div>
                    <div class="pop-right">
                        <img width="32" height="32" src="@Url.Content("~/Mcontent/Images/Cancel.png")" class="bClose">
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
                <p>
                    Thank you! This touch is completed and you will be redirected to the dashboard for
                    your next touch.
                </p>
                <button class="place-right" id="btnRetDashboard">
                    Ok
                </button>
            </div>

            <div class="form-panel">
                <h2>
                    <img src="@Url.Content("~/Mcontent/Images/Touch-type.png")" width="48" height="48" style="float: left; margin-right: 10px;" />
                    <div class="h-title">
                        <span style="float: left; font-size: 9pt; text-transform: uppercase; vertical-align: middle;">
                            Returning from @Model.DriverTouch.TouchType to @DriverMobileApp.Models.PR_AddressType.Warehouse
                        </span>
                    </div>
                    <div class="clearfix">
                    </div>
                </h2>
                <div class="clearfix">
                </div>
                <div class="metro-pivot touch-info-page">
                    <div class="pivot-item">
                        <ul class="form-list" style="margin-top: 0%;">
                            <li>
                                <span class="label-form">To</span>
                                <div class="clearfix">
                                </div>
                                <span class="user-name">
                                    @Model.DriverTouch.FacilityName
                                    <br />
                                </span>@*<span id="ToAddress"><span id="ToAddressVal" style="font-size: 100%;" class="value">
                                        @(!string.IsNullOrEmpty(Model.DriverTouch.DestinationAddress.AddressLine1) ? Model.DriverTouch.DestinationAddress.AddressLine1.Trim() + ", " : "")
                                        @(!string.IsNullOrEmpty(Model.DriverTouch.DestinationAddress.AddressLine2.Trim()) ? Model.DriverTouch.DestinationAddress.AddressLine2.Trim() + "," : "")
                                        @(!string.IsNullOrEmpty(Model.DriverTouch.DestinationAddress.City) ? Model.DriverTouch.DestinationAddress.City.Trim() + ", " : "")
                                        @(!string.IsNullOrEmpty(Model.DriverTouch.DestinationAddress.State) ? Model.DriverTouch.DestinationAddress.State.Trim() + ", " : "")
                                        @(!string.IsNullOrEmpty(Convert.ToString(Model.DriverTouch.DestinationAddress.Zip)) ? Model.DriverTouch.DestinationAddress.Zip.Trim() : "")
                                    </span></span>*@
                                <div class="clearfix">
                                </div>
                            </li>
                            @*   <li><span class="label-form">QORID</span>
                                <div class="clearfix">
                                </div>
                                <span class="label-value"><span class="capital">
                                    @Model.DriverTouch.QORID @(Model.DriverTouch != null && Model.DriverTouch.IsCombinedTouch ? "(Combined Touch)" : "")
                                    @(Model.DriverTouch != null && Model.DriverTouch.IsTrailerNeeded ? ", Trailer required" : "")
                                </span></span></li>*@ @*@if (Model.DriverTouch.TouchType != DriverMobileApp.Models.PR_TouchType_Constant.DE)
                                {
                                    <li><span class="label-form">Container Number </span><span class="label-value"><span
                                        class="capital">
                                        @(String.IsNullOrWhiteSpace(Model.DriverTouch.ContainerNumber) ? "N/A" : @Model.DriverTouch.ContainerNumber)
                                    </span></span></li>
                                }*@ @* <li><span class="label-form">Touch Type</span>
                                    <div clas="clearfix">
                                    </div>
                                    <span class="label-value"><span class="capital">
                                        @(Model.DriverTouch.StopType != @DriverMobileApp.Models.PR_Action_Constant.WS
                                          ? @Model.DriverTouch.TouchType + " " + @Model.DriverTouch.StopType : @Model.DriverTouch.TransiteTouchType)
                                    </span>
                                        <br />
                                    </span></li>*@ @*<li><span class="label-form">Unit</span>
                                    <div clas="clearfix">
                                    </div>
                                    <span class="label-value"><span class="capital">@Model.TouchData.UnitLength&nbsp;ft</span>
                                        <br />
                                    </span></li>*@
                                    <li>
                                        <span class="label-form">Estimated Touch Time </span><span class="label-value">
                                            <span class="capital">
                                                @*@(Model.DriverTouch.ScheduledStartTime)
                                                    - @(Model.DriverTouch.ScheduledEndTime)*@
                                                @(Model.DriverTouch.EstimatedStartTime)
                                                - @(Model.DriverTouch.EstimatedEndTime)
                                            </span>
                                            <br />
                                        </span>
                                    </li>
                                    @*<li><span class="label-form">Door Position</span>
                                        <div clas="clearfix">
                                        </div>
                                        <span class="label-value"><span class="capital">@(Model.TouchData.DoorFacesRear ? "Door-to-Rear" : "Door-to-Front")</span>,<br />
                                        </span></li>*@ @* <li><span class="label-form">Driveway Type</span>
                                        <div clas="clearfix">
                                        </div>
                                        <span class="label-value"><span class="capital">
                                            @((Model.TouchData.Drivewaytype_Bricked) ? "Bricked, " : "")
                                            @((Model.TouchData.Drivewaytype_Curbed) ? "Curbed, " : "")
                                            @((Model.TouchData.Drivewaytype_Dirt) ? "Dirt, " : "")
                                            @((Model.TouchData.Drivewaytype_Sloped) ? "Sloped, " : "")
                                            @((Model.TouchData.Drivewaytype_Soft) ? "Soft, " : "")
                                            @((Model.TouchData.Drivewaytype_Grvel) ? "Grvel, " : "")
                                            @((Model.TouchData.Drivewaytype_Paved) ? "Paved, " : "")
                                            @((Model.TouchData.Drivewaytype_Other) ? "Other" : "")
                                        </span>
                                            <br />
                                        </span></li>*@ @* <li><span class="label-form">Obstacle</span>
                                            <div class="clearfix">
                                            </div>
                                            <span class="label-value"><span class="capital">
                                                @((Model.TouchData.Obstacle_Landscaping) ? "Landscaping, " : "")
                                                @((Model.TouchData.Obstacle_PowerLines) ? "PowerLines, " : "")
                                                @((Model.TouchData.Obstacle_Fences) ? "Fences, " : "")
                                                @((Model.TouchData.Obstacle_Trees) ? "Trees, " : "")
                                                @((Model.TouchData.Obstacle_Sprinklers) ? "Sprinklers, " : "")
                                                @((Model.TouchData.Obstacle_Septic) ? "Septic, " : "")
                                                @((Model.TouchData.Obstacle_Other) ? "Other, " : "")
                                            </span></span></li>*@ @*  @if (!String.IsNullOrEmpty(Model.TouchData.Directions))
                                            {
                                                <li><span class="label-form">Direction</span>
                                                    <div class="clearfix">
                                                    </div>
                                                    <span class="label-value"><span class="capital">
                                                        @Model.TouchData.Directions.ToString().Trim()
                                                    </span></span></li>
                                            }*@ @*  @if (!String.IsNullOrEmpty(Model.TouchData.Instructions))
                                                {
                                                    <li><span class="label-form">Instruction</span>
                                                        <div class="clearfix">
                                                        </div>
                                                        <span class="label-value"><span class="capital">
                                                            @Model.TouchData.Instructions.ToString().Trim()
                                                        </span></span></li>
                                                }*@ @*                        // Marked for remove --------------------------------------------------------------
                                                <li style="text-align: center; width: 100%;">
                                                    @if (ViewBag.TouchInfoLog.VerifiedTouchInfo_ReadyToStart)
                                                    {
                                                        <button id="gotoNextPage" class="image-button bg-color-darken fg-color-white" style="margin: auto;">
                                                            Show Map<img src="@Url.Content("~/Mcontent/Images/Next.png")" class="bg-color-green"/></button>
                                                    }
                                                </li>
                                                // Marked for remove --------------------------------------------------------------
                                                *@
                                                <li style="text-align: center; width: 100%;">
                                                    <div class="button-panel">
                                                        @if (ViewBag.TouchInfoLog.ReachedDestination)
                                                        {
                                                            //<input type="submit" value="Next" onclick="window.location = '/InnerDashBoard';" />
                                                            <input type="submit" value="Next" id="Next" />
                                                        }
                                                        else
                                                        {
                                                            <input type="submit" value="I've reached the destination" id="Wreached-btn" />
                                                        }
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="pivot-item">
                                    </div>
                                    <div class="clerfix">
                                    </div>
                                </div>
        }
        <div class="clerfix">
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/CustomerAddress")
<script type="text/javascript">
    var URLHelperCustAddr = {
        postReachedDestination: '@Url.Action("ReachedDestination", "CustAddress")',
        postWareHouseTouchComplete: '@Url.Action("WarehouseTouchComplete", "CustAddress")',
        redirectToDashBoard: '@Url.Action("Index", "Dashboard")',
        redirectToInnderDashBoard: '@Url.EncryptAction("Index", "InnerDashBoard", new { QORid = @Model.DriverTouch.QORID, StopType = @Model.DriverTouch.StopType,
                                   TouchType = @Model.DriverTouch.TouchType, TouchStopId = @Model.DriverTouch.TouchStopId })',
    }

    var custAddrJSVariables = {
        TouchID: '@(Model.DriverTouch.TouchId)',
        TouchType: '@(Model.DriverTouch.TouchType)',
        QORID: '@(Model.DriverTouch.QORID)',
        StopType: '@(Model.DriverTouch.StopType)',
        TouchStopId: '@(Model.DriverTouch.TouchStopId)',
        OrderNum: '@(Model.DriverTouch.OrderNum)'
    }
</script>